{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bgcolor">
    <div class="container-fluid">
        <a class="navbar-brand" href="/#page-top">
            <img src="{% static 'img/index/logo_enjakee.png' %}" alt="" width="50" height="50" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="collapse navbar-collapse" id="Navber">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/projects" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                       Projects
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/projects/ann">ANN</a></li>
                        <li><a class="dropdown-item" href="/projects/ann0">ANN0</a></li>
                        <li><a class="dropdown-item" href="/projects/wanko">わんこ旅</a></li>
                        <li><a class="dropdown-item" href="/projects/timeline">TIMELINE</a></li>
                        <li><a class="dropdown-item" href="/projects/nyanko">みんなのにゃんこ</a></li>
                    </ul>
               </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>