{% extends "base.html" %}
{% load static %}

{% block main %}

<!-- aboutus -->
<section class="about-section" id="aboutus">
    <div class="container text-center text-white-50 p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/index/thumbnail_staff.png' %}" alt="..." />
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center p-3">
                    <h4 class="text-white">WHO ARE WE?</h4>
                    <h6 class="text-white-50">楽しいコンテンツをお届け。楽しいコンテンツをお届け。楽しいコンテンツをお届け。楽しいコンテンツをお届け。楽しいコンテンツをお届け。楽しいコンテンツをお届け。</h6>
                </div>
            </div>
        </div>
        <div class="container m-auto">
            <!-- メインキャスト -->
            <h2 class="section-heading text-white">MAIN CAST</h2>
            <h3 class="section-subheading mb-1 mb-sm-3 mb-lg-5">主演</h3>
            <div class="row">
                <div class="col-6 scrollanime downup">
                    <img class="rounded-circle border border-light img-fluid" src="{% static 'img/aboutus/01_kyosuke.png' %}" alt="..." />
                    <h4 class="text-white mt-3">Kyosuke<br class="d-lg-none">Matsui</h4>
                    <h6 class="text-muted mb-3">Bride</h6>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2 mx-lg-3" href="https://twitter.com/mr_kyooon" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2 mx-lg-3" href="https://www.facebook.com/kyosuke.matui" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2 mx-lg-3" href="https://www.instagram.com/kyong_gnu/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-6 scrollanime downup">
                    <img class="rounded-circle border border-light img-fluid" src="{% static 'img/aboutus/07_rikako.png' %}" alt="..." />
                    <h4 class="text-white mt-3">Rikako<br class="d-lg-none">Inukai</h4>
                    <h6 class="text-muted mb-3">Groom</h6>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2 mx-lg-3" href="#!" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2 mx-lg-3" href="https://www.facebook.com/rikako.inukai" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2 mx-lg-3" href="https://www.instagram.com/rikkakkoo/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h6 class="large text-muted my-5"></h6>
                </div>
            </div>
            <!-- 運営メンバー -->
            <h2 class="section-heading text-white">OUR AMAZING TEAM</h2>
            <h3 class="section-subheading mb-1 mb-sm-3 mb-lg-5">運営メンバー</h3>
            <div class="row">
                <div class="col-6 col-lg-3 scrollanime downup my-3">
                    <img class="mx-auto img-fluid rounded-circle border border-light" src="{% static 'img/aboutus/05_akuzawa.png' %}" alt="..."/>
                    <h4 class="text-white mt-3">Takuya<br class="d-lg-none">Akuzawa</h4>
                    <h6 class="text-muted mb-3">Director & Producer</h6>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://twitter.com/0akzw9" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.facebook.com/Takuya.Akuzawa09" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.instagram.com/akzw_06/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-6 col-lg-3 scrollanime downup my-3">
                    <img class="mx-auto img-fluid rounded-circle border border-light" src="{% static 'img/aboutus/02_daikosh.png' %}" alt="..." />
                    <h4 class="text-white mt-3">daikosh</h4>
                    <h6 class="text-muted mb-3">Web Engineer & Designer</h6>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://twitter.com/daikosh"><i class="fab fa-twitter" target="_blank" rel="noopener noreferrer"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.facebook.com/daikosh" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.instagram.com/daikosh/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-6 col-lg-3 scrollanime downup my-3">
                    <img class="mx-auto img-fluid rounded-circle border border-light" src="{% static 'img/aboutus/04_rinrin.png' %}" alt="..." />
                    <h4 class="text-white mt-3">Hiroto<br class="d-lg-none">Hayashi</h4>
                    <h6 class="text-muted mb-3">Sales<br class="d-lg-none">Manager</h6>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.facebook.com/hiroto.hayashi.980" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.instagram.com/lin_rin_/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-6 col-lg-3 scrollanime downup my-3">
                    <img class="mx-auto img-fluid rounded-circle border border-light" src="{% static 'img/aboutus/06_nobuaki.png' %}" alt="..." />
                    <h4 class="text-white mt-3">Nobuaki<br class="d-lg-none">Yoshitane</h4>
                    <h6 class="text-muted mb-3">Patron</h6>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://twitter.com/seed297" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.facebook.com/n.yoshitane" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.instagram.com/tane_stagram/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}