{% extends "base.html" %}
{% load static %}

{% block main %}

<!-- aboutus -->
<section class="aboutus-section" id="aboutus">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About us</li>
            </ol>
        </nav>         
    </div>
    <div class="container text-center text-white-50 p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/index/thumbnail_staff.png' %}" alt="..." />
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center p-3">
                    <h4 class="text-white">WHO ARE WE?</h4>
                    <h6 class="text-white-50">
                        私達は、ナレッジ化されたコンテンツマーケティング戦略を通じて導き出された資本主義貨幣経済が支配する現代社会（とりわけパンシステマイゼーション）へのアンチテーゼを提唱し、
                        テクノロジーとイノベーションを駆使した真の幸福追求にフルコミットすることで藪からスティックに選択的夫婦別姓を導入し、
                        ヒューマンドリブンな世界のリゲインを目指し活動するアーティスティッククリエイティブ集団です。知らんけど。
                    </h6>
                </div>
            </div>
        </div>
        <div class="container m-auto">
            <!-- メインキャスト -->
            <h2 class="section-heading text-white">MAIN CAST</h2>
            <h3 class="section-subheading mb-1 mb-sm-3 mb-lg-5">主演</h3>
            <div class="row">
                <div class="col-6 scrollanime downup">
                    <img class="rounded-circle border border-light img-fluid" src="{% static 'img/aboutus/01_kyosuke.png' %}" alt="..." />
                    <h4 class="text-white mt-3">Kyosuke<br class="d-lg-none">Matsui</h4>
                    <h6 class="text-muted mb-3">Bride</h6>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2 mx-lg-3" href="https://twitter.com/mr_kyooon" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2 mx-lg-3" href="https://www.facebook.com/kyosuke.matui" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2 mx-lg-3" href="https://www.instagram.com/kyong_gnu/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-6 scrollanime downup">
                    <img class="rounded-circle border border-light img-fluid" src="{% static 'img/aboutus/07_rikako.png' %}" alt="..." />
                    <h4 class="text-white mt-3">Rikako<br class="d-lg-none">Inukai</h4>
                    <h6 class="text-muted mb-3">Groom</h6>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2 mx-lg-3" href="https://twitter.com/Ricca6d" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2 mx-lg-3" href="https://www.facebook.com/rikako.inukai" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2 mx-lg-3" href="https://www.instagram.com/rikkakkoo/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h6 class="large text-muted my-5"></h6>
                </div>
            </div>
            <!-- 運営メンバー -->
            <h2 class="section-heading text-white">OUR AMAZING TEAM</h2>
            <h3 class="section-subheading mb-1 mb-sm-3 mb-lg-5">運営メンバー</h3>
            <div class="row">
                <div class="col-6 col-lg-3 scrollanime downup my-3">
                    <img class="mx-auto img-fluid rounded-circle border border-light" src="{% static 'img/aboutus/05_akuzawa.png' %}" alt="..."/>
                    <h4 class="text-white mt-3">Takuya<br class="d-lg-none">Akuzawa</h4>
                    <h6 class="text-muted mb-3">Producer</h6>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://twitter.com/0akzw9" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.facebook.com/Takuya.Akuzawa09" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.instagram.com/akzw_06/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-6 col-lg-3 scrollanime downup my-3">
                    <img class="mx-auto img-fluid rounded-circle border border-light" src="{% static 'img/aboutus/02_daikosh.png' %}" alt="..." />
                    <h4 class="text-white mt-3">Daiki<br class="d-lg-none">Matsuoka</h4>
                    <h6 class="text-muted mb-3">Engineer</h6>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://twitter.com/daikosh"><i class="fab fa-twitter" target="_blank" rel="noopener noreferrer"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.facebook.com/daikosh" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.instagram.com/daikosh/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-6 col-lg-3 scrollanime downup my-3">
                    <img class="mx-auto img-fluid rounded-circle border border-light" src="{% static 'img/aboutus/04_rinrin.png' %}" alt="..." />
                    <h4 class="text-white mt-3">Hiroto<br class="d-lg-none">Hayashi</h4>
                    <h6 class="text-muted mb-3">Manager</h6>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://twitter.com/lin_exe"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.facebook.com/hiroto.hayashi.980" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.instagram.com/lin_rin_/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-6 col-lg-3 scrollanime downup my-3">
                    <img class="mx-auto img-fluid rounded-circle border border-light" src="{% static 'img/aboutus/06_nobuaki.png' %}" alt="..." />
                    <h4 class="text-white mt-3">Nobuaki<br class="d-lg-none">Yoshitane</h4>
                    <h6 class="text-muted mb-3">Squirter</h6>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://twitter.com/seed297" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.instagram.com/tane_stagram/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}