{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="contact-section bg-black" id="contact">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
        </nav>
    </div>
    <div class="container text-center text-white-50 p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/index/thumbnail_contact.jpg' %}" alt="..." />
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center p-3">
                    <h4 class="text-white">お問合せフォーム</h4>
                    <h6 class="text-white-50">
                        参加型コンテンツへの投稿を募集しています。<br class="d-none d-lg-inline">
                        コンテンツのご感想なども大歓迎です。<br class="d-none d-lg-inline">
                        匿名可なのでお気軽にお送りいただけますと幸いです。<br class="d-none d-lg-inline"><br class="d-none d-lg-inline">
                    </h6>
                </div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-xl-5 justify-content-center text-black-50">
            <div class="mb-3">
                <div class="card h-100 scrollanime downup">
                    <img src="{% static 'img/projects/logo_koejakee.png' %}" class="card-img-top img-fit-contain" alt="...">
                    <div class="card-body">
                        <h4 class="card-text small">おたよりフォーム</h4>
                        <a href="https://forms.gle/JosDigM43uQKfXiA9" class="stretched-link" target="_blank" rel="noopener noreferrer"></a>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="card h-100 scrollanime downup">
                    <img src="{% static 'img/projects/logo_nekojakee.png' %}" class="card-img-top img-fit-contain" alt="...">
                    <div class="card-body">
                        <h4 class="card-text small">にゃんこ投稿フォーム</h4>
                        <a href="https://forms.gle/rPJk87YdzdhvVTxr6" class="stretched-link" target="_blank" rel="noopener noreferrer"></a>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="card h-100 scrollanime downup">
                    <img src="{% static 'img/projects/logo_glee.png' %}" class="card-img-top img-fit-contain" alt="...">
                    <div class="card-body">
                        <h4 class="card-text small">おたよりフォーム</h4>
                        <a href="https://forms.gle/qg7tnLxw94tgybh28" class="stretched-link"target="_blank" rel="noopener noreferrer"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}