{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="contact-section" id="contact">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">FAQ</li>
            </ol>
        </nav>
    </div>
    <div class="container text-white-50 p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/index/thumbnail_faq.jpg' %}" alt="..." />
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center p-3">
                    <h4 class="text-white">よくある質問</h4>
                    <h6 class="text-white-50">
                        よく使用している用語を解説するページです。<br class="d-none d-lg-inline">
                        他にもわからない用語があればLINEで教えてください。<br class="d-none d-lg-inline">
                    </h6>
                </div>
            </div>
        </div>
        <div class="text-black">
            <div class="qa-list mts">
                <dl class="qa">
                    <dt>縁じゃけえプロジェクトとは？</dt>
                    <dd>
                        <p class="text-white">
                            理香子と響介の結婚式二次会を企画・運営する一年間限定のプロジェクト。
                        </p>
                    </dd>
                </dl>
                <dl class="qa">
                    <dt>同響 (どうきょう) とは？</dt>
                    <dd>
                        <p class="text-white">
                            理香子と響介が大学時代に所属していたオーケストラサークル「同志社交響楽団」の略称。<br class="d-none d-lg-inline">
                            約160人規模のサークルであり、二人の同期は42人。<br class="d-none d-lg-inline">
                        </p>
                        <q class="text-white">
                            同志社交響楽団（同響）は、同志社大学を拠点とする学生オーケストラです。関西のあらゆる学生が集い技術を高め合っています。創設から90年の長い歴史を誇り、その規模は関西の学生オケでも屈指です。
                            前期演奏会、後期演奏会、全同志社メサイア演奏会の三つの演奏会を主な軸として活動しています。代々受け継がれる情熱を携え、真摯に音楽に向き合い、演奏会に向けて日々邁進していおります。
                            当楽団は若さと情熱溢れる音で、お客様に感動していただける演奏を目指しています。
                        </q>
                        <a href="http://orchestra.musicinfo.co.jp/~dokyo/web/about/dokyo.html">引用元URL</a>
                    </dd>
                </dl>
                <dl class="qa">
                    <dt>同響グリークラブとは？</dt>
                    <dd>
                        <p class="text-white">
                            同志社大学が誇る男声合唱団「同志社グリークラブ」をオマージュし、松井響介が立ち上げた同響の歌ってハモれる男声アイドルグループ。<br class="d-none d-lg-inline">
                            活動理念に「同響男子の人権獲得」を標榜し、同響の飲み会、合宿など多岐に渡って同響を盛り上げ、一時代を築きあげた。<br class="d-none d-lg-inline">
                            2016年2月21日、多くの女性ファンに惜しまれつつも「老兵は死なずただ去りゆくのみ」という言葉を残し、後輩達に活躍の場を譲るために自主解散。
                            奇しくもSMAPの解散発表と同日となった。<br class="d-none d-lg-inline">
                        </p>
                    </dd>
                </dl>
                <dl class="qa">
                    <dt>グラコンとは？</dt>
                    <dd>
                        <p class="text-white">
                            グランドコンパの略称。グランドコンパとは同響の演奏会の打ち上げのこと。<br class="d-none d-lg-inline">
                            結婚式という一世一代の大舞台を終えた二人をねぎらい、
                            また我々も二人の結婚式を盛り上げる一人の演者であり (演じゃけえ)、お互いの幸せを祈ろうという精神のもと、今回の二次会を「結婚式グラコン」と名付けた。<br class="d-none d-lg-inline">
                        </p>
                    </dd>
                </dl>
                <dl class="qa">
                    <dt>修道 (しゅうどう) とは？</dt>
                    <dd>
                        <p class="text-white">
                            <a href="https://www.shudo-h.ed.jp/">学校法人 修道学園 修道中学・高等学校</a>。<br class="d-none d-lg-inline">
                            広島県が誇る偏差値70の名門私立学校であり、響介の出身校。<br class="d-none d-lg-inline">
                            出身者は母校愛が強く、響介は理香子との初デートで修道での思い出を5時間超語った。<br class="d-none d-lg-inline">
                            吹奏楽の強豪校として知られ、全国吹奏楽コンクールにも出場しているが、同響での知名度は0であった。<br class="d-none d-lg-inline">
                            また、修道生のスピリットともいうべき存在である校歌の終わりに登場するキャッチーなフレーズ「見よや修道魂を」を用いて響介に酒を飲ますノリが流行した。<br class="d-none d-lg-inline">
                        </p>
                        
                    </dd>
                </dl>
                <dl class="qa">
                    <dt>EVE祭 (いぶさい) とは？</dt>
                    <dd>
                        <p class="text-white">
                            毎年11月下旬に行われる同志社大学の学園祭。同響においては1回生が模擬店を出店する。<br class="d-none d-lg-inline">
                            理香子・響介の代では、「さつまいモーツァルト」という伝説のスイーツを開発し、
                            押し売りにも近い手法によって先輩方に大量に売りつけ、大黒字を達成した。<br class="d-none d-lg-inline">
                            ちなみに、二人は商品開発班としてこの製作に関わっており、詳しいことについては
                            <a href="https://enjakee-pj.herokuapp.com/projects/ann0/4/">同響グリークラブのオールナイトニッポン0 #4</a>
                            にて語られているのでこちらを参照されたい。<br class="d-none d-lg-inline">
                        </p>
                        
                    </dd>
                </dl>
            </div>
    </div>
</section>


{% endblock %}