{% extends "base.html" %}
{% load static %}

{% block main %}

<div class="hero overlay">
    <div class="text-box">
        <h1 class="text-white text-center main-text">待たせたな。</h1>
    </div>
    <a href="/index/#home" class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>
</div>



<!-- About-->
<section class="about-section text-center" id="home">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white">EN-JAKEE PROJECT</h2>
                <img class="img-fluid img-fit-contain scrollanime downup", src="{% static 'img/index/logo_enjakee.png' %}" alt="" width=500>
                <p class="text-white-50 mt-5 scrollanime downup">
                    「縁じゃけえプロジェクト (EN-JAKEE PJ)」とは、<br class="d-none d-lg-inline"><br class="d-none d-lg-inline">
                    響介&理香子の結婚式二次会の運営<br>および<br>当日までの士気を高めるためのコンテンツをご提供する<br class="d-none d-lg-inline"><br class="d-none d-lg-inline">
                    一年限定のプロジェクトです。<br class="d-none d-lg-inline"><br>
                </p>
                <div class="frame-wrapper__video">
                    <div class="movie-content-wrap">
                        <iframe src="https://drive.google.com/file/d/1q-K0BZhff486u1Sjxb87cWm_oNpF5lJF/preview" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <img src="{% static 'img/index/thumbnail_trailer.jpg' %}" alt="" class="movie-thumb img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Projects-->
<section class="projects-section" id="projects">
    <div class="container text-center text-black-50 p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/thumbnail.jpg' %}" alt="..." />
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center p-3">
                    <h4 class="text-white">PROJECTS</h4>
                    <h6 class="text-white-50">
                        縁じゃけえプロジェクトでは、二次会に参加する人もしない人も楽しんで頂けるようなコンテンツを配信しています。
                    </h6>
                </div>
            </div>
        </div>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-xl-5 justify-content-center">
            <div class="mb-3">
                <div class="card h-100 scrollanime downup">
                    <img src="{% static 'img/projects/logo_tljakee.png' %}" class="card-img-top img-fit-contain" alt="...">
                    <div class="card-body">
                        <h4 class="card-text small">TIMELINE</h4>
                        <a href="/projects/timeline" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="card h-100 scrollanime downup">
                    <img src="{% static 'img/projects/logo_koejakee.png' %}" class="card-img-top img-fit-contain" alt="...">
                    <div class="card-body">
                        <h4 class="card-text small">マツイキョースケ<br class="d-none d-lg-inline">の<br class="d-none d-lg-inline">オールナイトニッポン</h4>
                        <span class="badge bg-secondary">New</span> 
                        <a href="/projects/ann" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="card h-100 scrollanime downup">
                    <img src="{% static 'img/projects/logo_inujakee.png' %}" class="card-img-top img-fit-contain" alt="...">
                    <div class="card-body">
                        <h4 class="card-text small">わんこ旅</h4>
                        <a href="/projects/wanko" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="card h-100 scrollanime downup">
                    <img src="{% static 'img/projects/logo_nekojakee.png' %}" class="card-img-top img-fit-contain" alt="...">
                    <div class="card-body">
                        <h4 class="card-text small">みんなのにゃんこ</h4>
                        <a href="/projects/nyanko" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="card h-100 scrollanime downup">
                    <img src="{% static 'img/projects/logo_glee.png' %}" class="card-img-top img-fit-contain" alt="...">
                    <div class="card-body">
                        <h4 class="card-text small">同響グリークラブ<br class="d-none d-lg-inline">の<br class="d-none d-lg-inline">オールナイトニッポン0</h4>
                        <a href="/projects/ann0" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- aboutus -->
<section class="about-section" id="aboutus">
    <div class="container text-center text-white-50 p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/index/thumbnail_staff.png' %}" alt="..." />
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center p-3">
                    <h4 class="text-white">WHO ARE WE?</h4>
                    <h6 class="text-white-50">
                        私達は、「」を合言葉に、結婚式の成功・男女平等・小室圭さんを応援するクリエイティブ集団です。
                        
                    </h6>
                </div>
            </div>
        </div>
        <div class="container m-auto">
            <!-- メインキャスト -->
            <h2 class="section-heading text-white">MAIN CAST</h2>
            <h3 class="section-subheading mb-1 mb-sm-3 mb-lg-5">主演</h3>
            <div class="row">
                <div class="col-6 scrollanime downup">
                    <img class="rounded-circle border border-light img-fluid" src="{% static 'img/aboutus/01_kyosuke.png' %}" alt="..." />
                    <h4 class="text-white mt-3">Kyosuke<br class="d-lg-none">Matsui</h4>
                    <h6 class="text-muted mb-3">Bride</h6>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2 mx-lg-3" href="https://twitter.com/mr_kyooon" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2 mx-lg-3" href="https://www.facebook.com/kyosuke.matui" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2 mx-lg-3" href="https://www.instagram.com/kyong_gnu/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-6 scrollanime downup">
                    <img class="rounded-circle border border-light img-fluid" src="{% static 'img/aboutus/07_rikako.png' %}" alt="..." />
                    <h4 class="text-white mt-3">Rikako<br class="d-lg-none">Inukai</h4>
                    <h6 class="text-muted mb-3">Groom</h6>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2 mx-lg-3" href="https://twitter.com/Ricca6d" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2 mx-lg-3" href="https://www.facebook.com/rikako.inukai" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2 mx-lg-3" href="https://www.instagram.com/rikkakkoo/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h6 class="large text-muted my-5"></h6>
                </div>
            </div>
            <!-- 運営メンバー -->
            <h2 class="section-heading text-white">OUR AMAZING TEAM</h2>
            <h3 class="section-subheading mb-1 mb-sm-3 mb-lg-5">運営メンバー</h3>
            <div class="row">
                <div class="col-6 col-lg-3 scrollanime downup my-3">
                    <img class="mx-auto img-fluid rounded-circle border border-light" src="{% static 'img/aboutus/05_akuzawa.png' %}" alt="..."/>
                    <h4 class="text-white mt-3">Takuya<br class="d-lg-none">Akuzawa</h4>
                    <h6 class="text-muted mb-3">Producer</h6>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://twitter.com/0akzw9" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.facebook.com/Takuya.Akuzawa09" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.instagram.com/akzw_06/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-6 col-lg-3 scrollanime downup my-3">
                    <img class="mx-auto img-fluid rounded-circle border border-light" src="{% static 'img/aboutus/02_daikosh.png' %}" alt="..." />
                    <h4 class="text-white mt-3">daikosh<br class="d-lg-none"> </h4>
                    <h6 class="text-muted mb-3">Web Engineer</h6>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://twitter.com/daikosh"><i class="fab fa-twitter" target="_blank" rel="noopener noreferrer"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.facebook.com/daikosh" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.instagram.com/daikosh/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-6 col-lg-3 scrollanime downup my-3">
                    <img class="mx-auto img-fluid rounded-circle border border-light" src="{% static 'img/aboutus/04_rinrin.png' %}" alt="..." />
                    <h4 class="text-white mt-3">Hiroto<br class="d-lg-none">Hayashi</h4>
                    <h6 class="text-muted mb-3">Manager</h6>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://twitter.com/lin_exe"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.facebook.com/hiroto.hayashi.980" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.instagram.com/lin_rin_/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-6 col-lg-3 scrollanime downup my-3">
                    <img class="mx-auto img-fluid rounded-circle border border-light" src="{% static 'img/aboutus/06_nobuaki.png' %}" alt="..." />
                    <h4 class="text-white mt-3">Nobuaki<br class="d-lg-none">Yoshitane</h4>
                    <h6 class="text-muted mb-3">Squirter</h6>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://twitter.com/seed297" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-0 mx-sm-1 mx-md-2" href="https://www.instagram.com/tane_stagram/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- オープニングロゴ -->
<div class="start">
<p><img class="img-fluid" src="{% static 'img/index/logo_enjakee.png' %}" alt=""></p>
</div>
{% endblock %}