{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <!-- <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead2.jpeg" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Shoreline</h4>
                    <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p>
                </div>
            </div>
        </div> -->


        <div class="row">
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <img src="{% static 'assets/img/bg-masthead4.jpeg' %}" class="card-img-top img-fit-cover" alt="..." height=300>
                    <div class="card-body">
                      <h5 class="card-title">TIMELINE</h5>
                      <p class="card-text">二人の軌跡をみていきましょう。</p>
                      <a href="/projects/timeline" class="btn btn-primary stretched-link">CLICK</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <img src="{% static 'assets/img/logo_ann.png' %}" class="card-img-top img-fit-contain" alt="..." height=300>
                    <div class="card-body">
                      <h5 class="card-title">マツイキョースケのオールナイトニッポン</h5>
                      <p class="card-text">マツイキョースケのオールナイトニッポンは結婚式二次会へ向けてなんやかんややっていく番組です。<br>毎回ステキなゲストとともにお送りしていきます！</p>
                      <a href="/projects/ann" class="btn btn-primary stretched-link">ANN CLICK</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <img src="{% static 'assets/img/logo_wanko.png' %}" class="card-img-top img-fit-cover" alt="..." height=300>
                    <div class="card-body">
                      <h5 class="card-title">わんこ旅</h5>
                      <p class="card-text">不定期で理香子のコラムをお届け。ファインダー越しの理香子の世界をお楽しみください🐶<br>ちなみに理香子は猫派。</p>
                      <a href="/projects/wanko" class="btn btn-primary stretched-link">CLICK</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <img src="{% static 'assets/img/logo_glee.png' %}" class="card-img-top img-fit-cover" alt="..." height=300>
                    <div class="card-body">
                      <h5 class="card-title">同響グリークラブのオールナイトニッポン0</h5>
                      <p class="card-text">いざ立て、戦人よ。</p>
                      <a href="/projects/ann0" class="btn btn-primary stretched-link">CLICK</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <img src="{% static 'assets/img/logo_neko.jpg' %}" class="card-img-top img-fit-cover" alt="..." height=300>
                    <div class="card-body">
                      <h5 class="card-title">みんなのにゃんこ</h5>
                      <p class="card-text">みなさんに投稿していただいたご自宅のにゃんこ、道端で見かけたにゃんこ、フリー素材のにゃんこなど、癒やされるにゃんこたちを公開中です。ちなみに響介は犬派。</p>
                      <a href="/projects/nyanko" class="btn btn-primary stretched-link">CLICK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}