{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5 bg-dark fadein">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'assets/img/index/bg-masthead2.jpeg' %}" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>PROJECTS</h4>
                    <p class="text-black-50 mb-0">楽しいコンテンツをお届け。楽しいコンテンツをお届け。楽しいコンテンツをお届け。楽しいコンテンツをお届け。楽しいコンテンツをお届け。楽しいコンテンツをお届け。</p>
                </div>
            </div>
        </div>


        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center bg-light">
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100 shadow zoomin">
                    <img src="{% static 'assets/img/projects/logo_ann.png' %}" class="card-img-top img-fit-cover" alt="..." height=150>
                    <div class="card-body">
                        <h5 class="card-title text-center">TIMELINE</h5>
                        <p class="card-text">二人の軌跡をみていきましょう。</p>
                        <a href="/projects/timeline" class="stretched-link"></a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100 shadow-sm">
                    <img src="{% static 'assets/img/projects/logo_ann.png' %}" class="card-img-top img-fit-contain" alt="..." height=150>
                    <div class="card-body">
                        <h5 class="card-title text-center">マツイキョースケの<br>オールナイトニッポン</h5>
                        <p class="card-text small">毎回ステキなゲストとともにお送りしていきます！</p>
                        <span class="badge bg-secondary">New</span> 
                        <a href="/projects/ann" class="stretched-link"></a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100 shadow-lg">
                    <img src="{% static 'assets/img/projects/logo_wanko.png' %}" class="card-img-top img-fit-cover" alt="..." height=150>
                    <div class="card-body">
                        <h5 class="card-title text-center">わんこ旅</h5>
                        <p class="card-text">ファインダー越しの理香子の世界をお楽しみください🐶</p>
                        <a href="/projects/wanko" class="stretched-link"></a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <img src="{% static 'assets/img/projects/logo_glee.png' %}" class="card-img-top img-fit-cover" alt="..." height=150>
                    <div class="card-body">
                        <h5 class="card-title text-center">同響グリークラブの<br>オールナイトニッポン0</h5>
                        <p class="card-text">いざ立て、戦人よ。</p>
                        <a href="/projects/ann0" class="stretched-link"></a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <img src="{% static 'assets/img/projects/logo_neko.jpg' %}" class="card-img-top img-fit-cover" alt="..." height=150>
                    <div class="card-body">
                        <h5 class="card-title text-center">みんなのにゃんこ</h5>
                        <p class="card-text">癒やされるにゃんこたちを公開中です。</p>
                        <a href="/projects/nyanko" class="stretched-link"></a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}