{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="projects-section" id="ann">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">ANN</li>
            </ol>
        </nav>
    </div>
    <div class="container text-center fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/ann/logo_ann.jpg' %}" alt="..." />
    </div>

    <div class="container text-center text-white-50 p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-1 col-lg-2"></div>
            <div class="col-10 col-lg-8">
                <div class="featured-text text-center">
                    <h4 class="text-white"></h4>
                    <h6 class="text-white-50">
                        マツイキョースケのオールナイトニッポンは結婚式二次会へ向けてなんやかんややっていく番組です。<br class="d-none d-lg-inline">
                        <br class="d-none d-lg-inline">
                        毎回ステキなゲストとともにお送りしています！<br class="d-none d-lg-inline">
                        <br>
                        おたよりは<a href="https://forms.gle/JosDigM43uQKfXiA9" target="_blank" rel="noopener noreferrer">こちらのフォーム</a>から募集しています！
                    </h6>
                </div>
            </div>
        </div>
        <div class="sidescroll text-black">
            <ul>
                <li>
                    <div class="card h-100 fadein">
                        <img src="{% static 'img/projects/ann/radio5.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                        <div class="card-body">
                            <div class="card-text">#5 後輩スペシャル</div>
                            <span class="badge bg-secondary">NEW</span>
                            <a href="/projects/ann/5" class="stretched-link"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card h-100 fadein">
                        <img src="{% static 'img/projects/ann/radio4.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                        <div class="card-body">
                            <div class="card-text">#4 幹事長スペシャル</div>
                            <a href="/projects/ann/4" class="stretched-link"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card h-100 fadein">
                        <img src="{% static 'img/projects/ann/radio3.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                        <div class="card-body">
                            <div class="card-text">#3 聴取率を爆上げしたいので、弦のカリスマをゲストに呼びました。</div>
                            <a href="/projects/ann/3" class="stretched-link"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card h-100 fadein">
                        <img src="{% static 'img/projects/ann/radio2.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                        <div class="card-body">
                            <div class="card-text">#2 珍名字東京大決戦<br class="d-lg-none">〜城之内死す〜</div>
                            <a href="/projects/ann/2" class="stretched-link"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card h-100 fadein">
                        <img src="{% static 'img/projects/ann/radio1.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                        <div class="card-body">
                            <div class="card-text">#1 人材紹介業Feeとりがち<br class="d-lg-none">〜そうだ、顎削ろう〜</div>
                            <a href="/projects/ann/1" class="stretched-link"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>


{% endblock %}