{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="projects-section" id="ann0">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">ANN0</li>
            </ol>
        </nav>         
    </div>
    
    <div class="container text-center fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/ann0/logo_ann0.jpg' %}" alt="..."/>
    </div>

    <div class="container text-center text-white-50 p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-1 col-lg-2"></div>
            <div class="col-10 col-lg-8">
                <div class="featured-text text-center">
                    <h4 class="text-white"></h4>
                    <h6 class="text-white-50">
                        For Kyosuke, for Rikako, and Brotherhood!<br class="d-none d-lg-inline">
                        <br class="d-none d-lg-inline"><br>
                        響介、理香子、そして我ら兄弟たちのために！<br class="d-none d-lg-inline">
                        <br><br class="d-none d-lg-inline">
                        おたよりは<a href="https://forms.gle/qg7tnLxw94tgybh28" target="_blank" rel="noopener noreferrer">こちらのフォーム</a>から募集しています！
                    </h6>
                </div>
            </div>
        </div>

        <div class="sidescroll text-black">
            <ul>
                <li>
                    <div class="card h-100 fadein">
                        <img src="{% static 'img/projects/ann0/radio7.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                        <div class="card-body">
                            <div class="card-text">#7 〈TL第6章〉<br class="d-lg-none">集大成、そして新たな始まりへ。</div>
                            <span class="badge bg-secondary">NEW</span>
                            <a href="/projects/ann0/7" class="stretched-link"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card h-100 fadein">
                        <img src="{% static 'img/projects/ann0/radio6.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                        <div class="card-body">
                            <div class="card-text">#6 〈TL第5章〉<br class="d-lg-none">One Purpose</div>
                            <a href="/projects/ann0/6" class="stretched-link"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card h-100 fadein">
                        <img src="{% static 'img/projects/ann0/radio5.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                        <div class="card-body">
                            <div class="card-text">#5 〈TL第4章〉<br class="d-lg-none">ちびる響介。</div>
                            <a href="/projects/ann0/5" class="stretched-link"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card h-100 fadein">
                        <img src="{% static 'img/projects/ann0/radio4.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                        <div class="card-body">
                            <div class="card-text">#4 〈TL第3章〉<br class="d-lg-none">大事なことは二回言え。</div>
                            <a href="/projects/ann0/4" class="stretched-link"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card h-100 fadein">
                        <img src="{% static 'img/projects/ann0/radio3.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                        <div class="card-body">
                            <div class="card-text">#3〈TL第2章〉<br class="d-lg-none">楽器との出会い。</div>
                            <a href="/projects/ann0/3" class="stretched-link"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card h-100 fadein">
                        <img src="{% static 'img/projects/ann0/radio2.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                        <div class="card-body">
                            <div class="card-text">#2〈TL第1章〉<br class="d-lg-none">楽器を始めてなかった頃。</div>
                            <a href="/projects/ann0/2" class="stretched-link"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card h-100 fadein">
                        <img src="{% static 'img/projects/ann0/radio1.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                        <div class="card-body">
                            <div class="card-text">#1 恥ずかしながら帰ってまいりました。</div>
                            <a href="/projects/ann0/1" class="stretched-link"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>


{% endblock %}