{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="projects-section" id="nyanko">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">みんなのにゃんこ</li>
            </ol>
        </nav>
    </div>
    <div class="container text-center fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/nyanko/logo_nyanko.jpg' %}" alt="..." />
    </div>
    <div class="container text-center text-white-50 p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-1 col-lg-2"></div>
            <div class="col-10 col-lg-8">
                <div class="featured-text text-center">
                    <h4 class="text-white"></h4>
                    <h6 class="text-white-50">
                        みなさんに投稿していただいたご自宅のにゃんこ、道端で見かけたにゃんこ、フリー素材のにゃんこなど、<br class="d-none d-lg-inline">
                        <br class="d-none d-lg-inline">
                        癒やされるにゃんこたちを公開中です。<br class="d-none d-lg-inline">
                        <br class="d-none d-lg-inline">
                        ちなみに響介は犬派。<br class="d-none d-lg-inline">
                        <br class="d-none d-lg-inline">
                        にゃんこたちの写真は<a href="https://forms.gle/rPJk87YdzdhvVTxr6" target="_blank" rel="noopener noreferrer">こちらのフォーム</a>から募集しています。
                    </h6>
                </div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-10 col-lg-8">
                <p>
                    投稿者: たくと<br>
                    タイトル: たくとと猫<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/nyanko/15.jpeg' %}" alt="" srcset="">
                <p><br><br></p>
                <p>
                    <br><br>
                    投稿者: 🐱<br>
                    タイトル: よそ様の猫トップ5<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/nyanko/14.jpeg' %}" alt="" srcset="">
                <p>フライング猫<br><br></p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/nyanko/13.jpeg' %}" alt="" srcset="">
                <p>ジャストフィット猫<br><br></p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/nyanko/12.jpeg' %}" alt="" srcset="">
                <p>脱走常習犯猫<br><br></p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/nyanko/11.jpeg' %}" alt="" srcset="">
                <p>寝子<br><br></p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/nyanko/10.jpeg' %}" alt="" srcset="">
                <p>くせになる猫<br><br></p>
                <p>
                    <br><br>
                    投稿者: なおたろう<br>
                    タイトル: 伏見稲荷大社には下り坂の途中で猫たちがいっぱい生活してるよ<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/nyanko/09.jpeg' %}" alt="" srcset="">
                <p><br><br></p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/nyanko/08.jpeg' %}" alt="" srcset="">
                <p><br><br></p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/nyanko/07.jpeg' %}" alt="" srcset="">
                <p><br><br></p>
                <p>
                    <br><br>
                    投稿者: ごっちん<br>
                    タイトル: 何撮ってんだよ？のガン飛ばしシリーズです。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/nyanko/06.jpeg' %}" alt="" srcset="">
                <p>しずく</p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/nyanko/05.jpeg' %}" alt="" srcset="">
                <p>そら</p>
                <p>
                    <br><br>
                    投稿者: おみそ<br>
                    タイトル: 王者の風格<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/nyanko/04.jpeg' %}" alt="" srcset="">
                <p>
                    <br><br>
                    投稿者: べ<br>
                    タイトル: だるまにされた猫です。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/nyanko/03.jpeg' %}" alt="" srcset="">
                <p><br><br></p>
                <p>
                    <br><br>
                    投稿者: ごっちん<br>
                    タイトル: 猫のねころがりシリーズです。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/nyanko/02.jpeg' %}" alt="" srcset="">
                <p>しずく</p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/nyanko/01.jpeg' %}" alt="" srcset="">
                <p>そら</p>
            </div>
        </div>
    </div>

    
</section>

{% endblock %}