{% extends "base.html" %}
{% load static %}

{% block main %}


<section class="rikako-section" id="wanko">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item active"><a href="/projects/rikako">理香子展</a></li>
            </ol>
        </nav>
    </div>
    <div class="container text-center fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/thumbnail_rikako.png' %}" alt="..." />
    </div>

    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
        <div class="col-1 col-lg-2"></div>
        <div class="col-10 col-lg-8">
            <div class="featured-text text-center">
                <h4 class="text-white"></h4>
                <h6 class="text-white-50">
                    <br><br>
                    参列者のみなさまに撮影していただいた写真を掲載したフォトギャラリー。
                    <br class="d-none d-lg-inline"><br class="d-none d-lg-inline">
                    理香子のメッセージ付きです。
                    <br class="d-none d-lg-inline">
                </h6>
            </div>
        </div>
    </div>

    <div class="container text-white-50 p-1 p-sm-3 p-lg-5 wrap">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-10 col-lg-8">
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/01.jpeg' %}" alt="" srcset="">
                <p>
                    グリー開始時、一人になったのでここぞとばかりにアルコール注入しているところをオーボエパートに盗撮されてしまう。
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/02.jpeg' %}" alt="" srcset="">
                <p>
                    同響大体金管テーブル。<br>
                    ずっきーの笑顔が今までに見たことないぐらい素敵できゅん。

                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/03.jpeg' %}" alt="" srcset="">
                <p>
                    海老原光先生の指揮の元、当日朝のゲネですぐみんな当時の感覚を思い出したかのようにすぐ形に仕上げるあたり、全員ブラボー！<br>
                    修道、同女もなんやかんやですぐ吹けちゃうのもまたブラボー！<br>
                    オケ参加者ではない我が同期のチョイスの１枚。観客者にも楽しんでもらえたか不安だっただけにすごく嬉しい！

                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/04.jpeg' %}" alt="" srcset="">
                <p>
                    「師匠と一番弟子」<br>
                    歴史に残る1枚にナリソウデスネ

                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/05.jpeg' %}" alt="" srcset="">
                <p>
                    本物の師匠、海老原光先生とのスリーショット。<br>
                    終始盛り上げてくださり大感謝でした。。<br>
                    ずっと変わらず我々とお付き合いしてくださり感謝しかありません。

                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/06.jpeg' %}" alt="" srcset="">
                <p>
                    姉が予想以上にノリノリだった中座（裏拍で取ってたらしい）。<br>
                    退場時、カーテンの閉まるスピードが早すぎて、「ザ・細かすぎて伝わらないモノマネ」の落ちる床を思い出した。

                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/07.jpeg' %}" alt="" srcset="">
                <p>
                    改めてこの人数で楽器をもって終結しているこの写真は圧巻！<br>
                    終始タイムスケジュールに焦りしかなく、実は写真タイム中笑顔の裏で「早く早く早く。演奏者以外が待ってるから。時間もやばいから。」と一生思っていた。

                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/08.jpeg' %}" alt="" srcset="">
                <p>
                    みんな良い笑顔である中、一番そこ？というところにピントが合っている写真。<br>
                    三男の幹くんの表情が絶妙な1枚。

                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/09.jpeg' %}" alt="" srcset="">
                <p>
                    挙式終わり、別組のゲスト退場も被りエレベータがどん詰まりに。<br>
                    親族写真を撮り終え、さあ披露宴会場へ！と向かったらみんなに遭遇！<br>
                    まさかな場所での貴重なオフショット。

                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/10.jpeg' %}" alt="" srcset="">
                <p>
                    疲労感も出てきて塩漬けになってきている中での1枚。<br>
                    内心「早く」のタイミングながらもみんなここで何気に盛れ写真を撮ってくれててありがとう。

                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/11.jpeg' %}" alt="" srcset="">
                <p>
                    集合写真はさっきのもこれも、同響現役生がチョイスしてくれたもの。<br>
                    演奏会から駆けつけてくれて、打楽器の2人も練習から楽器運搬もある中参加してくれて大感謝…。<br>
                    岩倉指導に一時期少し行っていた新郎。いつももみじ饅頭しか差し入れしてないのに、良い後輩に恵まれすぎましたな。

                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/12.jpeg' %}" alt="" srcset="">
                <p>
                    オーボエパートちゃっぴー先輩のソロショット！<br>
                    ごっちん先輩チョイスで同期お二人の空気感にまた癒されました。<br>
                    ちなみに新郎はちゃぴ先輩へのメッセージに、ピクミンのチャッピーを描きました。<br>
                    見たい方は是非見せてもらってください。（いらんか）

                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/13.jpeg' %}" alt="" srcset="">
                <p>
                    ダブル松井からトリプル松井に。<br>
                    3次会のコラボでの1杯を飲み終え、終電をいつも通りなくしているたんたんがタクシーに乗るまでお見送り。<br>
                    たんたんの笑顔弾けてます

                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/14.jpeg' %}" alt="" srcset="">
                <p>
                    誰かに「牧師さんも自分で雇ったん？」と言われましたが違います。<br>
                    この会場は日本人の牧師さんしかいないらしい。<br>
                    「癖あるけど良い話だった」とみんなが言っていた、星の王子様の本を片手に話したお言葉。<br>
                    目に見えないものを大切に生きていきます。

                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/15.jpeg' %}" alt="" srcset="">
                <p>
                    個性光るスリーショット。<br>
                    主賓でありながら、一番の盛り上げ隊テーブルでした。<br>
                    私のピアノの先生はたぶん早々にお酒を入れていたことも相まり挨拶から通常よりも何トーンもテンションが上がってらっしゃいました。

                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/16.jpeg' %}" alt="" srcset="">
                <p>
                    バイオリンずがわいわいしているのを久々に見て、あ～こんなやったな～～と懐かしなりました。<br>
                    たんたんが自撮りしてみんな小顔狙うのはお決まりの構図。

                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/17.jpeg' %}" alt="" srcset="">
                <p>
                    15cmヒールを履いていたので父の身長も越え、見える世界が別世界！<br>
                    写真チョイスのオーボエパートのドンなおたろう。<br>
                    一眼レンズで良い写真いっぱい撮ってくれてて感激！
                    
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/18.jpeg' %}" alt="" srcset="">
                <p>
                    あっくんのフィルムレンズの撮れ高がめちゃ高く、中でも同響金管女子ショットはすごく良い写真。<br>
                    実はトロンボーンのおぽんは、式後2日ほどでフォトフレームに当日の写真を入れてお手紙と共に送ってくれて、なんて心が綺麗なんだと泣きそうになったというエピソードが。家に飾っている結婚式写真、第一号です。
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/19.jpeg' %}" alt="" srcset="">
                <p>
                    兄を運ぶ弟達というなかなかないナイスな中座の退場風景ながらも、それ以上にあっくんの笑顔が素晴らしすぎて全てそっちに持っていかれた写真。<br>
                    ただ間違いなくみんなが笑顔になった楽しいシーンだったんだなということがすごくよく分かる1枚。
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/20.jpeg' %}" alt="" srcset="">
                <p>
                    二次会では時間が押して遅れて行ったこともあり、予想以上にほとんどみなさんと話せなかったのが心残り。<br>
                    各所みんな久々に集まって楽しく歓談したり写真を撮ってる景色を見たり、写真を後から見ると、それがなによりも嬉しかったです。<br>
                    高砂に座る側になって気づく点がたくさんありました。
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/21.jpeg' %}" alt="" srcset="">
                <p>
                    こちらも奥田カメラ。個人的に奥田カメラのこの画角でのお気に入りは、カメラマンの画面にピントを合わせて画面越しに私達を撮った写真。<br>
                    私もよく人のスマホカメラ越しに主役を撮ったりするもののすぐ動かれるとピントが合わなかったり。<br>
                    これがばっちりおさめられていて、思わずおお～と声が出ました。
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/22.jpeg' %}" alt="" srcset="">
                <p>
                    弦トップ。仙台でのチェロのあさぎの結婚式ぶりに再会し、再びみんなで演奏。<br>
                    直近で2回も弦トップ達に会って演奏も出来るのは有難い限りでした。<br>
                    演奏するだけじゃなく、こうして各所馴染みあるメンバーが集まって楽器を手にグループごとに撮っている写真を後から見てそれがすごく嬉しかったです。
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/23.jpeg' %}" alt="" srcset="">
                <p>
                    あっくんの秘密兵器！有名人がよくするカメラにサインするやつ！めっちゃ下手くそやったけどめっちゃテンション上がったやつ！<br>
                    手前にはGoproもセットされており、本格的に芸能人気分に。<br>
                    その様子をおさめられているのもまたうれしい！
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/24.jpeg' %}" alt="" srcset="">
                <p>
                    例のサインカメラ。きっと購入費に対して何の付加価値もつかないサインをしてしまった。
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/25.jpeg' %}" alt="" srcset="">
                <p>
                    同響トロンボーン4人が揃った図がまた見れるなんて…！<br>
                    湯浦は絶対アルセナールにはユーフォが必要と、個人的に団楽器を借りてきてくれたらしい。<br>
                    一生きょんはユーフォいらん言うてたけどパーマスとしても腕奮ってくれたようで有難う。
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/26.jpeg' %}" alt="" srcset="">
                <p>
                    私は縁じゃけえプロジェクトメンバーの朝会には基本参加していなかったものの、こんなに細かく作りこまれていたのかとびっくり。<br>
                    年間実行計画が明確でさすが。<br>
                    コメントを打っている今日、朝会に参加したら、話題が「だいこしゅの禅体験感想。悟りとは何か。」でとても朝から学びあり。<br>
                    みなさんも是非仏になっただいこしゅの有難いお言葉、聞いてみてください。
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/rikako/27.jpeg' %}" alt="" srcset="">
                <p>
                    縁、私の好きな言葉です。<br>
                    みなさんとまたお会いできる日を楽しみにしています。<br>
                    <br>
                </p>
                <p style="text-align: right">
                    縁じゃけえプロジェクト<br>
                    敬具
                </p>
            </div>
        </div>
    </div>
</section>



{% endblock %}