{% extends "base.html" %}
{% load static %}

{% block main %}


<section class="projects-section" id="timeline">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">TIMELINE</li>
            </ol>
        </nav>
    </div>
    <div class="container text-center fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/timeline/logo_timeline.jpg' %}" alt="..." />
    </div>

    <div class="container text-center text-white-50 p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-1 col-lg-2"></div>
            <div class="col-10 col-lg-8">
                <div class="featured-text text-center">
                    <h4 class="text-white"></h4>
                    <h6 class="text-white-50">
                        地球上に、今さ、人口って何人いるか知ってる？76億人いるの。<br class="d-none d-lg-inline">
                        <br class="d-none d-lg-inline">
                        76億人に、一人に一秒しか会わなくても240年かかるの。<br class="d-none d-lg-inline">
                        <br class="d-none d-lg-inline">
                        それが俺たちどう？もう出会って8年以上たってる。<br>
                        <br>
                        奇跡、乾杯！
                    </h6>
                </div>
            </div>
        </div>
        <div class="sidescroll text-black">
            <ul>
                <!-- <li>
                    <div class="card h-100 fadein">
                        <img src="{% static 'img/projects/timeline/timeline4.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                        <div class="card-body">
                            <div class="card-text">第4章 大学2回生編</div>
                            <a href="/projects/timeline/4" class="stretched-link"></a>
                        </div>
                    </div>
                </li> -->
                <li>
                    <a href="/projects/timeline/3">
                        <img src="{% static 'img/projects/timeline/timeline3.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                    </a>
                </li>
                <li>
                    <a href="/projects/timeline/2">
                        <img src="{% static 'img/projects/timeline/timeline2.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                    </a>
                </li>
                <li>
                    <a href="/projects/timeline/1">
                        <img src="{% static 'img/projects/timeline/timeline1.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                    </a>
                </li>
            </ul>
        </div>
    </div>


</section>



{% endblock %}