{% extends "base.html" %}
{% load static %}

{% block main %}


<section class="projects-section" id="wanko">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">わんこ旅</li>
            </ol>
        </nav>
    </div>
    <div class="container text-center fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/wanko/logo_wanko.jpg' %}" alt="..." />
    </div>

    <div class="container text-center text-black-50 p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-1 col-lg-2"></div>
            <div class="col-10 col-lg-8">
                <div class="featured-text text-center">
                    <h4 class="text-white"></h4>
                    <h6 class="text-white-50">
                        不定期で理香子のコラムをお届け。<br class="d-none d-lg-inline">
                        <br class="d-none d-lg-inline">
                        ファインダー越しの理香子の世界をお楽しみください🐶<br class="d-none d-lg-inline">
                        <br class="d-none d-lg-inline">
                        ちなみに理香子は猫派。
                    </h6>
                </div>
            </div>
        </div>
        <div class="sidescroll text-black">
            <ul>
                <li>
                    <div class="card h-100 fadein">
                        <img src="{% static 'img/projects/wanko/wanko4.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                        <div class="card-body">
                            <div class="card-text">vol.4 ほっとひと息 京都Cafe</div>
                            <a href="/projects/wanko/4" class="stretched-link"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card h-100 fadein">
                        <img src="{% static 'img/projects/wanko/wanko3.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                        <div class="card-body">
                            <div class="card-text">vol.3 住むように過ごす 京都STAY2</div>
                            <a href="/projects/wanko/3" class="stretched-link"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card h-100 fadein">
                        <img src="{% static 'img/projects/wanko/wanko2.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                        <div class="card-body">
                            <div class="card-text">vol.2 住むように過ごす 京都STAY1</div>
                            <a href="/projects/wanko/2" class="stretched-link"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card h-100 fadein">
                        <img src="{% static 'img/projects/wanko/wanko1.jpg' %}" class="card-img-top img-fit-contain" alt="...">
                        <div class="card-body">
                            <div class="card-text">vol.1 梅雨を楽しむ 紫陽花</div>
                            <a href="/projects/wanko/1" class="stretched-link"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>



{% endblock %}