{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="projects-section" id="ann1">
    <div class="container text-center fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/ann/logo_ann.png' %}" alt="..." />
    </div>

    <div class="container text-center text-white-50 p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-1 col-lg-2"></div>
            <div class="col-10 col-lg-8">
                <div class="featured-text text-center">
                    <h4 class="text-white"></h4>
                    <h6 class="text-white-50">
                        マツイキョースケのオールナイトニッポンは結婚式二次会へ向けてなんやかんややっていく番組です。<br class="d-none d-lg-inline">
                        <br class="d-none d-lg-inline">
                        毎回ステキなゲストとともにお送りしています！<br class="d-none d-lg-inline">
                        <br>
                        おたよりは <a href="https://forms.gle/JosDigM43uQKfXiA9" target="_blank" rel="noopener noreferrer">こちらのフォーム</a>から募集しています！
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center text-white p-1 p-sm-3 p-lg-5 fadein wrap">
        <h1>#1 「人材紹介業Feeとりがち〜そうだ、顎削ろう〜」</h1>
        <h3>
            ゲスト: 林寛人、松岡大起<br>
            (2021.5.29 収録)
        </h3>
        <img src="{% static 'img/projects/ann/radio1.jpg' %}" class="img-fluid">

        <audio src=" https://docs.google.com/uc?export=download&id=1zUBsrOL-5Oafq-GCxZ_Qm8HgJUoEn3N7" type="audio/mp3" controls></audio>
    </div>





</section>


{% endblock %}