{% extends "projects/ann/base_ann.html" %}
{% load static %}

{% block content %}

<div class="container text-center text-white p-1 p-sm-3 p-lg-5 fadein wrap">
    <h1>#1 「人材紹介業Feeとりがち〜そうだ、顎削ろう〜」</h1>
    <h3>
        ゲスト: 林寛人、松岡大起<br>
        (2021.5.29 収録)
    </h3>
    <img src="{% static 'img/projects/ann/radio1.jpg' %}" class="img-fluid">

    <audio src="https://docs.google.com/uc?export=download&id=1zUBsrOL-5Oafq-GCxZ_Qm8HgJUoEn3N7" type="audio/mp3" controls></audio>
</div>


{% endblock %}