{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="projects-section" id="ann">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item"><a href="/projects/ann">ANN</a></li>
                <li class="breadcrumb-item active" aria-current="page">#3</li>
            </ol>
        </nav>    
    </div>
    <div class="container text-center fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/ann/logo_ann.jpg' %}" alt="..." />
    </div>

    <div class="container text-center text-white p-1 p-sm-3 p-lg-5 fadein wrap">
        <h3>#3 聴取率を爆上げしたいので、<br class="d-lg-none">弦のカリスマをゲストに呼びました。</h3>
        <h4>
            ゲスト: 和久あさぎ、毛利真夕<br>
            (2021.7.22 収録) <br><br>
        </h4>
        <img src="{% static 'img/projects/ann/radio3.jpg' %}" class="img-fluid">
        <p><br><br></p>
        <h5><br>Part 1/3 <br class="d-lg-none">「今野さん、毛利さん、お久しぶりです。」<br></h5>
        <audio src="https://docs.google.com/uc?export=download&id=1Q6-0TUrvLX36sVxMockntyg3bUK5n42Q" type="audio/mp3" controls></audio>
        <h5><br>Part 2/3 <br class="d-lg-none">「君はバレンティンを憶えているか？」<br></h5>
        <audio src="https://docs.google.com/uc?export=download&id=1KiO4bFzZIGUt98GLeoMUwhAqE2-HmeBz" type="audio/mp3" controls></audio>
        <h5><br>Part 3/3 <br class="d-lg-none">「おじさんがハマってるものは大抵たのしい。」<br></h5>
        <audio src="https://docs.google.com/uc?export=download&id=1w02HtNhFBYDl3u-7dJu_uguS4jWT_i8D" type="audio/mp3" controls></audio>
    </div>


</section>
{% endblock %}