{% extends "projects/ann/base_ann.html" %}
{% load static %}

{% block content %}

<div class="container p-1 p-sm-3 p-lg-5 fadein wrap">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/projects/ann">ANN</a></li>
                    <li class="breadcrumb-item active" aria-current="page">#4</li>
                </ol>
            </nav>         
        </div>
    </div>
</div>

<div class="container text-center text-white p-1 p-sm-3 p-lg-5 fadein wrap">
    <h3>#4 「幹事長スペシャル」</h3>
    <h4>
        ゲスト: 大北晃司、ジョニー<br>
        (2021.7.31 収録)
    </h4>
    <img src="{% static 'img/projects/ann/radio4.jpg' %}" class="img-fluid">
    <h5>Part 1/3 「ビューティフル・ネーム」</h5>
    <audio src="https://docs.google.com/uc?export=download&id=1sU3eqdqwbU3TFBrKACsoSBPDOMhaUvQT" type="audio/mp3" controls></audio>
    <h5>Part 2/3 「ビューティフル・ロード」</h5>
    <audio src="https://docs.google.com/uc?export=download&id=15FhZvdaRGG5WBOJj6GbxTNwXEvNCTqhd" type="audio/mp3" controls></audio>
    <h5>Part 3/3 「ビューティフル・フード」</h5>
    <audio src="" type="audio/mp3" controls></audio>
</div>


{% endblock %}