{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="projects-section" id="timeline">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item"><a href="/projects/timeline">TIMELINE</a></li>
                <li class="breadcrumb-item active" aria-current="page">第3章</li>
            </ol>
        </nav>  
    </div>
    <div class="container text-center fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/timeline/logo_timeline.jpg' %}" alt="..."/>
    </div>

    <div class="timeline-container text-white" id="timeline-1">
        <div class="timeline-header">
            <h2 class="timeline-header__title">第3章<br>大学1回生編</h2>
            <h3 class="timeline-header__subtitle"></h3>
        </div>
        <div class="timeline">
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content"><img class="timeline__img" src="{% static 'img/projects/timeline/3/01.jpg' %}"/>
                    <h2 class="timeline__content-title">2013</h2>
                    <p class="timeline__content-desc">
                        大学入学後間もない頃。
                        オオサンショウウオを振り回す@京都市水族館with母姉
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/3/02.jpg' %}"/>
                    <h2 class="timeline__content-title"><br></h2>
                    <p class="timeline__content-desc">
                        同志社交響楽団 (同響) に入団。
                        初のツーショットは夏合宿の男子恒例行事「女装大会」で優勝した時。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="阿部寛">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/3/04.jpg' %}"/>
                    <h2 class="timeline__content-title"><br></h2>
                    <p class="timeline__content-desc">
                        R15+指定映画『つやのよる ある愛に関わった、女たちの物語』で、主演・松生春二役を演じる。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/3/05.jpg' %}"/>
                    <h2 class="timeline__content-title">2013.8.9</h2>
                    <p class="timeline__content-desc">
                        回生で行きたい人を募って言った宇治川花火大会。
                        この翌年から宇治川花火大会は中止されることとなる。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/3/03.jpg' %}"/>
                    <h2 class="timeline__content-title">2013.8.30</h2>
                    <p class="timeline__content-desc">
                        同志社クラシック@北文化会館
                        ディズニーオケのために持ち寄った耳を着けて。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/3/18.jpg' %}"/>
                    <h2 class="timeline__content-title">2013.10.24</h2>
                    <p class="timeline__content-desc">
                        二人にとって重要な場所。
                        詳細は
                        <a href="/projects/ann0/4">同響グリークラブのオールナイトニッポン0 #4</a>
                        にて！
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/3/06.jpg' %}"/>
                    <h2 class="timeline__content-title">2013.11.6</h2>
                    <p class="timeline__content-desc">
                        同響定期演奏会@ザ・シンフォニーホール
                        初めてまともなツーショット。
                        ぷくぷくに顔が丸い人とげっそり顔が鋭利な人。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/3/07.jpg' %}"/>
                    <h2 class="timeline__content-title">2013.11.26-28</h2>
                    <p class="timeline__content-desc">
                        大学の学園祭、同志社EVE祭。
                        同響1回生のメインイベントといえばEVE祭。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/3/08.jpg' %}"/>
                    <h2 class="timeline__content-title"><br></h2>
                    <p class="timeline__content-desc">
                        テントの場所がハズレすぎだったが、メンズたちの宣伝力により売り上げを伸ばす。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/3/09.jpg' %}"/>
                    <h2 class="timeline__content-title"><br></h2>
                    <p class="timeline__content-desc">
                        宣伝に欠かせない我らのマスコット"マングース"。中の人は交代制。
                        雨が降り出しトランペッターずっきーと相合い傘。イブ祭マジック！？
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/3/10.jpg' %}"/>
                    <h2 class="timeline__content-title"><br></h2>
                    <p class="timeline__content-desc">
                        ヴァイオリンたんたん (正太郎) は茶道部と同響掛け持ち。
                        マフラー巻くほど寒いのにサツマイモサンデーを売る人とシンプルに寒そうな服装の人。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/3/11.jpg' %}"/>
                    <h2 class="timeline__content-title"><br></h2>
                    <p class="timeline__content-desc">
                        EVE祭実行委員打ち上げ。
                        共に商品開発班になり、夏に勢いで閃いたサツマイモサンデーを「そんな寒くないやろ」と押し通す。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/3/12.jpg' %}"/>
                    <h2 class="timeline__content-title"><br></h2>
                    <p class="timeline__content-desc">
                        回生パーカー。色投票の結果チャコールに。
                        今はすっかり綺麗になってしまった、かつての地下1 (練習場)。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/3/13.jpg' %}"/>
                    <h2 class="timeline__content-title"><br></h2>
                    <p class="timeline__content-desc">
                        同響よんこいちで東京旅行。
                        それぞれの楽器をエアーで表現。 (左からチェロ、フルート、オーボエ、ホルン)
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/3/14.jpg' %}"/>
                    <h2 class="timeline__content-title"><br></h2>
                    <p class="timeline__content-desc">
                        元アメフト部のヴァイオリン弾きと元吹奏楽部のホルン吹き。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/3/15.jpg' %}"/>
                    <h2 class="timeline__content-title"><br></h2>
                    <p class="timeline__content-desc">
                        モノクロ写真アカウントを作っていたカメラ好きの友人と南禅寺へ。
                        これをきっかけに頻繁に南禅寺にカメラを持って散歩に行くようになる。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/3/16.jpg' %}"/>
                    <h2 class="timeline__content-title"><br></h2>
                    <p class="timeline__content-desc">
                        学生会館横の公演にて。
                        この友人にカメラのことを色々教わりカメラ小僧の道を進んでいくこととなる。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/3/17.jpg' %}"/>
                    <h2 class="timeline__content-title">2014.2.14</h2>
                    <p class="timeline__content-desc">
                        2月14日響介バースデーディナー@奈良
                        財布をすられ、茶封筒で過ごしているのを見かねて財布をプレゼント。
                    </p>
                </div>
            </div>

            <div class="timeline-item" data-text="To be continued...">
                <div class="timeline__content">
                    <img class="timeline__img" src=""/>
                    <h2 class="timeline__content-title"></h2>
                    <p class="timeline__content-desc">
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}