{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="projects-section" id="timeline">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item"><a href="/projects/timeline">TIMELINE</a></li>
                <li class="breadcrumb-item active" aria-current="page">第5章</li>
            </ol>
        </nav>  
    </div>
    <div class="container text-center fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/timeline/logo_timeline.jpg' %}" alt="..."/>
    </div>

    <div class="timeline-container text-white" id="timeline-1">
        <div class="timeline-header">
            <h2 class="timeline-header__title">第5章 大学3回生編</h2>
            <h3 class="timeline-header__subtitle"></h3>
        </div>
        <div class="timeline">
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/01.jpg' %}"/>
                    <p class="timeline__content-desc">
                        同響執行回生としての1年がスタート！
                        春合宿@滋賀　同志である同回生達
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/02.jpg' %}"/>
                    <p class="timeline__content-desc">
                        宇治の三室戸寺(あじさい寺)
                        写活に勤しむ人と写活に連れ回される人
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="阿部寛">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/abe1.png' %}"/>
                    <p class="timeline__content-desc">
                        「世にも奇妙な物語」と「ONE PIECE」のコラボ企画『ゴムゴムの男』に主人公・鬼頭謙 役として出演。
                        大鳳組の若頭の「鬼頭謙」と弟分の「犬飼」と「モンキー・D・ルフィ」が織りなす奇妙な世界観は視聴者を釘付けにした。知らんけど。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/03.jpg' %}"/>
                    <p class="timeline__content-desc">
                        平等院鳳凰堂
                        まだ改装工事前に定番の10円玉のやつ
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/04.jpg' %}"/>
                    <p class="timeline__content-desc">
                        理香子の姉の理恵子に初対面
                        初対面の印象は…？
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/05.jpg' %}"/>
                    <p class="timeline__content-desc">
                        ゼミで東京研修
                        防衛省や国会議事堂を見学
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/06.jpg' %}"/>
                    <p class="timeline__content-desc">
                        元学長(当時学長)の村田晃嗣ゼミはマンモスゼミ
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/07.jpg' %}"/>
                    <p class="timeline__content-desc">
                        同立交歓演奏会@京都コンサートホールに向けて
                        指揮者、海老原光先生とコーク(ハイ？)
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/08.jpg' %}"/>
                    <p class="timeline__content-desc">
                        海老原先生とのお食事会にぴったり「海老Bar」
                        行きつけにしようと思った矢先、閉店…
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/09.jpg' %}"/>
                    <h2 class="timeline__content-title">2015.06.13</h2>
                    <p class="timeline__content-desc">
                        ホテルや京都駅から練習会場間のタクシーで語った日々はとても貴重で楽しい時間でした
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/10.jpg' %}"/>
                    <h2 class="timeline__content-title">2015.06.13</h2>
                    <p class="timeline__content-desc">
                        学指揮(学生指揮者)として指揮もご指導いただき、すっかり師匠！
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/11.jpg' %}"/>
                    <p class="timeline__content-desc">
                        同回生と海老原先生で打ち上げ
                        定演に向けて作った同響90周年Tシャツと同立演奏会DVDをプレゼント
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/12.jpg' %}"/>
                    <p class="timeline__content-desc">
                        花火マスター響介
                        同響の夏の風物詩としてまた新たな企画を生み出す
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/13.jpg' %}"/>
                    <p class="timeline__content-desc">
                        祇園祭
                        ぷらっと歩いて美味しそうなお店にふらっと入ってみるのがお決まり
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/14.jpg' %}"/>
                    <p class="timeline__content-desc">
                        多忙な同響活動と大学の講義(?)の合間に近場にお出かけ
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/15.jpg' %}"/>
                    <p class="timeline__content-desc">
                        京都市動物園
                        100円で安お出かけ
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/16.jpg' %}"/>
                    <p class="timeline__content-desc">
                        日頃から頻繁に立ち寄った南禅寺。
                        和装の前撮りも南禅寺のインクラインにて
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/17.jpg' %}"/>
                    <h2 class="timeline__content-title">2015.08.06</h2>
                    <p class="timeline__content-desc">
                        付き合ってから初の広島。
                        広島にとって大事な8月6日
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/18.jpg' %}"/>
                    <h2 class="timeline__content-title">2015.08.29</h2>
                    <p class="timeline__content-desc">
                        同志社クラシック@ハーディーホール
                        どっちかがオラフ
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/19.jpg' %}"/>
                    <h2 class="timeline__content-title">2015.08.29</h2>
                    <p class="timeline__content-desc">
                        企画オケのディズニーオケでは各々持ち寄った耳をつけて
                        90周年Tシャツを着てwithオーボエパート
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/20.jpg' %}"/>
                    <p class="timeline__content-desc">
                        ピアノの先生企画の地元の演奏会に木五で出演
                        演奏会後、犬飼家でひと休み
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/21.jpg' %}"/>
                    <p class="timeline__content-desc">
                        定期演奏会@ザ・シンフォニーホール に向けて、
                        指揮者の大山平一郎先生とのお食事会
                        同響行きつけの居酒屋あじさいにて
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/22.jpg' %}"/>
                    <h2 class="timeline__content-title">2015.10.18</h2>
                    <p class="timeline__content-desc">
                        大山先生には今参加しているオーケストラや団体にもご紹介いただき、今でもお世話になっています
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/23.jpg' %}"/>
                    <h2 class="timeline__content-title">2015.10.18</h2>
                    <p class="timeline__content-desc">
                        定期演奏会後の打ち上げ終わりにどこかの道路にて
                        with幹事長ジョニー
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="阿部寛">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/abe2.png' %}"/>
                    <h2 class="timeline__content-title">2015.10.18～</h2>
                    <p class="timeline__content-desc">
                        『下町ロケット』に主人公・佃航平 役として出演
                        2015年10月18日から12月20日まで、全10話が放送され、
                        奇しくも同響の定期演奏会からメサイア演奏会までの間を埋めるようにして放映された。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/24.jpg' %}"/>
                    <h2 class="timeline__content-title">2015.12.24</h2>
                    <p class="timeline__content-desc">
                        メサイア演奏会@京都コンサートホール
                        チーフマネージャーとしての指揮者の先生との関わりは本来は同立と定演だが、色々あって担当することに
                        古典の巨匠、鈴木秀美先生とのメサイアは本当に貴重なものになりました
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/25.jpg' %}"/>
                    <h2 class="timeline__content-title">2015.12.24</h2>
                    <p class="timeline__content-desc">
                        響介のバイト先「やきにく　みよ志」
                        メサイアの打ち上げ終わりに深夜の肉で締め
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/26.jpg' %}"/>
                    <p class="timeline__content-desc">
                        村田ゼミ穏健派で有馬温泉
                        多忙な同響の合間でのゼミ仲間との時間はほっと一息つける大事な時間
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/27.jpg' %}"/>
                    <h2 class="timeline__content-title">2016.01.16</h2>
                    <p class="timeline__content-desc">
                        執行回生を終え、引き継ぎ
                        チーマネの役職どころか、会社まで一緒になったまゆちゃん
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/33.jpg' %}"/>
                    <h2 class="timeline__content-title">2016.03.06</h2>
                    <p class="timeline__content-desc">
                        ステファニーザール@オーストリア
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/29.jpg' %}"/>
                    <h2 class="timeline__content-title">2016.03.06</h2>
                    <p class="timeline__content-desc">
                        海外公演中の一枚@オーストリア
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/28.jpg' %}"/>
                    <h2 class="timeline__content-title">2016.03.09</h2>
                    <p class="timeline__content-desc">
                        海外公演中の一枚@スロバキア
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/30.jpg' %}"/>
                    <p class="timeline__content-desc">
                        海外公演中の1コマ「日頃の風刺」
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/31.jpg' %}"/>
                    <p class="timeline__content-desc">
                        真面目編も
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/5/32.jpg' %}"/>
                    <h2 class="timeline__content-title">2016.03.09</h2>
                    <p class="timeline__content-desc">
                        レドュタホール@スロバキア
                        のだめカンタービレ ヨーロッパ編でも使用されたホール
                    </p>
                </div>
            </div>


            <div class="timeline-item" data-text="To be continued...">
                <div class="timeline__content">
                    <img class="timeline__img" src=""/>
                    <h2 class="timeline__content-title"></h2>
                    <p class="timeline__content-desc">
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}