{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="projects-section" id="timeline">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item"><a href="/projects/timeline">TIMELINE</a></li>
                <li class="breadcrumb-item active" aria-current="page">第6章</li>
            </ol>
        </nav>  
    </div>
    <div class="container text-center fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/timeline/logo_timeline.jpg' %}" alt="..."/>
    </div>

    <div class="timeline-container text-white" id="timeline-1">
        <div class="timeline-header">
            <h2 class="timeline-header__title">第6章 大学4回生編</h2>
            <h3 class="timeline-header__subtitle"></h3>
        </div>
        <div class="timeline">
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/01.jpg' %}"/>
                    <p class="timeline__content-desc">
                        最後の春合宿。
                        執行から解放された4回生にしてはなかなかの出席率。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="阿部寛">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/abe.jpg' %}"/>
                    <h2 class="timeline__content-title">2016.05.21</h2>
                    <p class="timeline__content-desc">
                        映画『海よりもまだ深く』にて主演：篠田良多役を演じる。
                        団地を舞台に、売れない小説家の主人公と、団地に一人住まいのその母親、別れた元妻とその息子。
                        こんなはずじゃなかったと今を生きる家族を映したストーリー。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/02.jpg' %}"/>
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/03.jpg' %}"/>
                    <h2 class="timeline__content-title">2016.06.25</h2>
                    <p class="timeline__content-desc">
                        同立交換演奏会@東京
                        出演していないので演奏会聴きにいきついでに初ディズニー！
                        2人だけの初遠出。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/04.jpg' %}"/>
                    <p class="timeline__content-desc">
                        同立演奏会に集結した回生メンバーと、1年前同立で大変お世話になった海老原先生とのお食事会@東京
                        東京ならば海老原先生！とお声かけしたところ、喜んでご参加いただき、徐々に先生とのプライベートなお付き合いが深まっていく。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/05.jpg' %}"/>
                    <p class="timeline__content-desc">
                        おーぼえんそく@名古屋
                        実はこの1年前に初おーぼえんそくが発足。初回はディズニーへ！オーボエパートのミニ遠足。
                        唯一の男性オーボエ「だいひょー」こと大北さんの勤務先である某会社の絵付け体験へ。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/06.jpg' %}"/>
                    <p class="timeline__content-desc">
                        御手洗祭り@下鴨神社
                        「おてあらい」ではなく「みたらし」
                        おそらく同女時代から行きだし、祇園祭同様夏の恒例行事に。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/07.jpg' %}"/>
                    <p class="timeline__content-desc">
                        祇園祭
                        いつものごとく。祭りよりも美味しい飲み屋をぷらぷら歩きながら当てることが目的になりつつある。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/08.jpg' %}"/>
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/09.jpg' %}"/>
                    <p class="timeline__content-desc">
                        ホルン同期4人で同志社校友会石川県支部へ。
                        Nobuaki Yoshitane編曲のカルテット曲を披露。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/10.jpg' %}"/>
                    <p class="timeline__content-desc">
                        最後の夏合宿。
                        こちらも4回生素晴らしいの参加率。春合宿も夏合宿も、何かが吹っ切れたように自由度が増し、回生の仲も深まった。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/11.jpg' %}"/>
                    <p class="timeline__content-desc">
                        同響夏合宿より。同期金管男子全員でのアンサンブル。
                        １回生〜４回生までの思い出の曲たちをメドレー形式で演奏した・・・が何故か全員が担当楽器以外を演奏することになる。daikoshの表情に注目。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/12.jpg' %}"/>
                    <p class="timeline__content-desc">
                        スターウォーズ展@あべのハルカス
                        お出かけとしては初大阪。この展示がなかったら行ってなかったであろう大阪。そして最初で最後の天王寺。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/13.jpg' %}"/>
                    <p class="timeline__content-desc">
                        九州一周旅
                        同響4回生の中で、てきとーに声をかけて集まったメンバーで九州ぐるっと車旅。メンバーは今考えてもかなり謎。
                        行きの船で同部屋だったヤクザのようなおっさんとずっきーが仲良くなっていたのが今でも忘れられない思い出。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/14.jpg' %}"/>
                    <p class="timeline__content-desc">
                        同響九州一周旅@高千穂峡(宮崎県
                        2.3人乗りボートに乗船。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/15.jpg' %}"/>
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/16.jpg' %}"/>
                    <p class="timeline__content-desc">
                        意気込んで乗ったものの船酔いが酷い。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/17.jpg' %}"/>
                    <p class="timeline__content-desc">
                        同響九州一周旅@ハウステンボス(長崎県
                        救命胴衣は大人用がデカすぎて黄色の子供用を装着。海に飛び降りたらめっちゃ沈んだ。恐怖。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/18.jpg' %}"/>
                    <p class="timeline__content-desc">
                        大阪クラシック　のバイト。
                        バイトといってもQUOカードが貰えるぐらい。
                        スタッフとしてもらえるTシャツを来てフェスティバルホールの下で記念に。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/19.jpg' %}"/>
                    <p class="timeline__content-desc">
                        村田ゼミ穏健派北海道旅行
                        広い田舎道で警察に捕まり29キロオーバーで免停手前を食らった苦い思い出。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/20.jpg' %}"/>
                    <p class="timeline__content-desc">
                        同志社中学校の学園祭にて＠大津市民会館
                        映画音楽メドレーを披露。背景はE.T.のイメージ。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/21.jpg' %}"/>
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/22.jpg' %}"/>
                    <h2 class="timeline__content-title">2016.10.29</h2>
                    <p class="timeline__content-desc">
                        定期演奏会前日＠ニューシンマチ
                        日本シリーズに進出したカープが終戦を迎えた瞬間の響介。そしてそれを喜んで撮影する理香子。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/23.jpg' %}"/>
                    <h2 class="timeline__content-title">2016.10.30</h2>
                    <p class="timeline__content-desc">
                        同響定期演奏会@ロームシアター
                        4回生、厚かましくもなかなかの出演率。
                        マラ1はホルン4回生4人全員出演。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/24.jpg' %}"/>
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/25.jpg' %}"/>
                    <p class="timeline__content-desc">
                        村田ゼミEVE祭出店
                        今まで出店したことのない村田ゼミで革命を起こす。
                        思いの外ゼミの全員が参加してくれ、なんとか赤字回避。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/26.jpg' %}"/>
                    <p class="timeline__content-desc">
                        またまた同期4人でカルテット。
                        同志社小学校のツリー点灯式にて演奏する。小学生にめちゃくちゃモテた。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/27.jpg' %}"/>
                    <p class="timeline__content-desc">
                        同響グリークラブが本家グリークラブと共演！
                        メサイア演奏会のゲネ中、奇跡の共演を果たす。
                        (写真にはほぼ本家写ってないが)
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/28.jpg' %}"/>
                    <p class="timeline__content-desc">
                        響介バースデー。誕生日は2/14日です。ギブミーチョコレート。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/29.jpg' %}"/>
                    <p class="timeline__content-desc">
                        卒業アルバム写真撮影@学生会館
                        毎日のように練習に明け暮れ、夜な夜な会議をしまくった思い出の学生会館。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/30.jpg' %}"/>
                    <p class="timeline__content-desc">
                        フェアウェル合宿をしようとするも企画倒れに。
                        仕方がないので香川県にうどんを作りに。なかなかの珍メン。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/31.jpg' %}"/>
                    <p class="timeline__content-desc">
                        おちび卒業旅行@欧州5カ国周遊
                        ゼミ友のおちび3人で卒業旅行！HISのツアーで全員同い年11人でとても仲良くなり、バス移動も苦じゃないとても楽しい旅行に。
                        社会人5年目になって久々に添乗員さんとメンバーで集まり懐かしい話に花が咲いた。
                        (理香子が1人部屋で出れなくなり「助けて！！」と叫びまくるホラー体験話など)
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/32.jpg' %}"/>
                    <p class="timeline__content-desc">
                        同響よんこいちTDL旅行
                        1回生ぶりの4人でディズニー。1回生編の写真と全く同じ場所ポーズで。色味が当時よりも寂しくなった(落ち着いた)。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/33.jpg' %}"/>
                    <p class="timeline__content-desc">
                        村田ゼミ穏健派卒業旅行@福岡
                        福岡タワーでパシャリ。「恋人の聖地」で撮影したおかげか(?)1人除いて全員2021年に結婚式があり、幸せたくさんいただきました❤︎
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/34.jpg' %}"/>
                    <h2 class="timeline__content-title">2017.03.04</h2>
                    <p class="timeline__content-desc">
                        FW演奏会@北文化会館
                        最後の演奏会、FW演奏会。4回生が1回生の時のEVE祭で稼いだ資金を元に卒業演奏会を行う。
                        回生全員の集合写真。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/35.jpg' %}"/>
                    <h2 class="timeline__content-title">2017.03.04</h2>
                    <p class="timeline__content-desc">
                        同響の演奏会で最後のツーショット。
                        赤い薔薇は4回生の共通アイテムとして準備し、ロミジュリとチラシデザインに掛けて赤い薔薇を。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/36.jpg' %}"/>
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/37.jpg' %}"/>
                    <h2 class="timeline__content-title">2017.03.04</h2>
                    <p class="timeline__content-desc">
                        FWの指揮者、コンミスはパンフレットに宣材写真が掲載されるため、写真館でキメキメのソロショットを。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/38.jpg' %}"/>
                    <h2 class="timeline__content-title">2017.03.05</h2>
                    <p class="timeline__content-desc">
                        卒団式@寒梅館地下A
                        縁じゃけえプロジェクトメンバーであるあっくんこと阿久澤くんは足首を骨折し松葉杖。
                        大学生活の大半を過ごした同響をこれにて卒団。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/39.jpg' %}"/>
                    <h2 class="timeline__content-title">2017.03.05</h2>
                    <p class="timeline__content-desc">
                        卒団式後のグラコン@さざんか亭
                        FW指揮のダブル松井には遺影(宣材写真)とアルバムをプレゼント。メンズの数少ない良い写真。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/40.jpg' %}"/>
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/41.jpg' %}"/>
                    <h2 class="timeline__content-title">2017.03.19</h2>
                    <p class="timeline__content-desc">
                        同志社大学卒業式
                        卒業式は同志社女子中高の入学・卒業式と同じ栄光館にて。
                        10年間の今出川生活、4年間の京都生活をそれぞれ締めくくる。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/42.jpg' %}"/>
                    <p class="timeline__content-desc">
                        一年間務めた同志社中学校指揮者としての集大成且つ学生最後の本番。
                        初めて指揮を振った威風堂々を振ることとなり胸熱。同響の大先輩とも共演。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/43.jpg' %}"/>
                    <img class="timeline__img" src="{% static 'img/projects/timeline/6/44.jpg' %}"/>
                    <p class="timeline__content-desc">
                        帰郷の時。
                        ほぼ毎日共に過ごした4年間から社会人になるためそれぞれの場所での生活を歩み出す。新幹線に乗り込む姿には哀愁しか感じない。
                    </p>
                </div>
            </div>


            <div class="timeline-item" data-text="To be continued...">
                <div class="timeline__content">
                    <img class="timeline__img" src=""/>
                    <h2 class="timeline__content-title"></h2>
                    <p class="timeline__content-desc">
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}