{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="projects-section" id="timeline">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item"><a href="/projects/timeline">TIMELINE</a></li>
                <li class="breadcrumb-item active" aria-current="page">第7章</li>
            </ol>
        </nav>  
    </div>
    <div class="container text-center fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/timeline/logo_timeline.jpg' %}" alt="..."/>
    </div>

    <div class="timeline-container text-white" id="timeline-1">
        <div class="timeline-header">
            <h2 class="timeline-header__title">第7章 社会人編</h2>
            <h3 class="timeline-header__subtitle"></h3>
        </div>
        <div class="timeline">
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/01.jpg' %}"/>
                    <h2 class="timeline__content-title">2017.05.05</h2>
                    <p class="timeline__content-desc">
                        日フィル×海老原光先生による子ども向け演奏会@ロームシアター
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/02.jpg' %}"/>
                    <h2 class="timeline__content-title">2017.05</h2>
                    <p class="timeline__content-desc">
                        春合宿にOBとして訪問して琵琶湖湖畔で酒を飲む奴らと4回生
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/03.jpg' %}"/>
                    <h2 class="timeline__content-title">2017.06</h2>
                    <p class="timeline__content-desc">
                        配属エリアの同期による新人芸「おにゃんこクラブ」
                        現役高校生にしか見えない…
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/04.jpg' %}"/>
                    <h2 class="timeline__content-title">2017.10.08</h2>
                    <p class="timeline__content-desc">
                        社会人になって初広島。
                        松井家とご飯。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/05.jpg' %}"/>
                    <p class="timeline__content-desc">
                        姉が広島に遊びに来ていたタイミングが重なったので昼飲み。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/06.jpg' %}"/>
                    <h2 class="timeline__content-title">2018.05.05</h2>                    
                    <p class="timeline__content-desc">
                        日フィル×海老原先生　毎年恒例2年目はスタッフとして参加。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/07.jpg' %}"/>
                    <h2 class="timeline__content-title">2018.05.26</h2>
                    <p class="timeline__content-desc">
                        姉夫婦寿司ざんまい(顔合わせ)
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/08.jpg' %}"/>
                    <h2 class="timeline__content-title">2018.06</h2>
                    <p class="timeline__content-desc">
                        研修クラス同期とユニバ(雨降りがち)
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/09.jpg' %}"/>
                    <h2 class="timeline__content-title">2018.06.23</h2>
                    <p class="timeline__content-desc">
                        同響京都公演ホルンパート現役生〜6回生
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/10.jpg' %}"/>
                    <h2 class="timeline__content-title">2018.07.26</h2>
                    <p class="timeline__content-desc">
                        修道サマコンに裏方として参加
                        宮本さん主導で作成した映え（？）スポット                        
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/11.jpg' %}"/>
                    <h2 class="timeline__content-title">2018.08.18</h2>
                    <p class="timeline__content-desc">
                        大阪市音×海老原先生
                        たまたま大阪メトロの広告で見かけチケット応募したところ偶然ゲット。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/12.jpg' %}"/>
                    <h2 class="timeline__content-title">2018.09.16</h2>
                    <p class="timeline__content-desc">
                        同立ブラスホルンパート
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/13.jpg' %}"/>
                    <h2 class="timeline__content-title">2018.09.23</h2>
                    <p class="timeline__content-desc">
                        同女ならめん(奈良出身メンバー)で初海外のチェジュ島へ。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/14.jpg' %}"/>
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/15.jpg' %}"/>
                    <h2 class="timeline__content-title">2018.10.21</h2>
                    <p class="timeline__content-desc">
                        同響定期演奏会ホルンパート現役生〜6回生、同期
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/16.jpg' %}"/>
                    <h2 class="timeline__content-title">2018.11</h2>
                    <p class="timeline__content-desc">
                        ゆりんぬ先輩結婚式余興演奏収録のためオーボエパートが同響練習場に集結。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/17.jpg' %}"/>
                    <h2 class="timeline__content-title">2019.02.15</h2>
                    <p class="timeline__content-desc">
                        村田ゼミのちびーずで香港マカオへ。おちびでは卒業旅行のヨーロッパぶりの海外。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/18.jpg' %}"/>
                    <h2 class="timeline__content-title">2019.04.06</h2>
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/19.jpg' %}"/>
                    <h2 class="timeline__content-title">2019.05.02</h2>
                    <p class="timeline__content-desc">
                        同響Tbパートのおぽんの実家、宮津へ。
                        お父さんが船を出してくださり初釣り。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/20.jpg' %}"/>
                    <h2 class="timeline__content-title">2019.05.05</h2>
                    <p class="timeline__content-desc">
                        日フィル×海老原先生
                        毎年恒例の。コロナによりこれが今のところ最後になってしまった。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/21.jpg' %}"/>
                    <h2 class="timeline__content-title">2019.05.19</h2>
                    <p class="timeline__content-desc">
                        研修同期で旅行に行くのは年1恒例。滞在時間12時間程度の弾丸韓国。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/22.jpg' %}"/>
                    <h2 class="timeline__content-title">2019.06.23</h2>
                    <p class="timeline__content-desc">
                        同響同立交歓演奏会前に海老原先生と共に奈良をお散歩。同響はチャイ5。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/23.jpg' %}"/>
                    <h2 class="timeline__content-title">2019.08.03</h2>
                    <p class="timeline__content-desc">
                        井谷先生と。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/24.jpg' %}"/>
                    <h2 class="timeline__content-title">2019.08.11</h2>
                    <p class="timeline__content-desc">
                        姉夫婦の結婚式@横浜
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/25.jpg' %}"/>
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="阿部寛">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/abe.jpg' %}"/>
                    <h2 class="timeline__content-title">2019.10.08</h2>
                    <p class="timeline__content-desc">
                        『結婚できない男』の第2シリーズ『まだ結婚できない男』にて主演：桑野信介役を演じる。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/26.jpg' %}"/>
                    <h2 class="timeline__content-title">2019.10.19</h2>
                    <p class="timeline__content-desc">
                        鈴木秀美先生の無伴奏チェロの演奏会へ@琵琶湖ホール卒業後初再会。覚えてくださっていた…はず…。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/27.jpg' %}"/>
                    <p class="timeline__content-desc">
                        なんやかんやあって修道×ちびーず飲み。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/28.jpg' %}"/>
                    <h2 class="timeline__content-title">2019.11.23</h2>
                    <p class="timeline__content-desc">
                        修道同期コンマスの結婚式。二次会はなんと100人越え！こんな風に集まれたらいいなあ…
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/29.jpg' %}"/>
                    <h2 class="timeline__content-title">2020.02.08</h2>
                </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/30.jpg' %}"/>
                    <h2 class="timeline__content-title">2020.03</h2>
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/31.jpg' %}"/>
                    <h2 class="timeline__content-title">2020.11.07</h2>
                    <p class="timeline__content-desc">
                        奈良から広島へ。というわけで柿の葉寿司。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介&理香子">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/32.jpg' %}"/>
                    <h2 class="timeline__content-title">2020.11.07</h2>
                    <p class="timeline__content-desc">
                        尾道にあるホテル。超おすすめ。わんこ旅でもご紹介済。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="響介">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static 'img/projects/timeline/7/33.jpg' %}"/>
                    <h2 class="timeline__content-title">2021.05.08</h2>
                    <p class="timeline__content-desc">
                        コロナ禍になって始めた趣味。捌くところまで完璧にマスターしたい！
                    </p>
                </div>
            </div>



            <div class="timeline-item" data-text="To be continued...">
                <div class="timeline__content">
                    <img class="timeline__img" src=""/>
                    <h2 class="timeline__content-title"></h2>
                    <p class="timeline__content-desc">
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}