{% extends "base.html" %}
{% load static %}

{% block main %}


<section class="wanko-section" id="wanko">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item"><a href="/projects/wanko">わんこ旅</a></li>
                <li class="breadcrumb-item active" aria-current="page">vol.1</li>
            </ol>
        </nav>
    </div>
    <div class="container text-center fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/wanko/wanko1.jpg' %}" alt="..." />
    </div>

    <div class="container text-black p-1 p-sm-3 p-lg-5 wrap">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-10 col-lg-8">
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/02.jpg' %}" alt="" srcset="">
                <p>
                    <br><br>
                    先日、奈良のお寺、「長弓寺」に早朝散歩に出掛けた。<br>
                    あいにくの雨。<br>
                    でも紫陽花を撮るなら悪くないなと、雨の日ならではの写真を撮ろうと意気込んで行った。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/03.jpg' %}" alt="" srcset="">
                <p>
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/04.jpg' %}" alt="" srcset="">
                <p>
                    カタツムリを発見！<br>
                    超ミニサイズ。(寄りすぎて分からない)<br>
                    よくみるといっぱいいる。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/05.jpg' %}" alt="" srcset="">
                <p>
                    カタツムリはマクロレンズで寄っても逃げないのでとても撮りやすい。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/06.jpg' %}" alt="" srcset="">
                <p>
                    うなだれてしまった。<br>
                    <br>
                    <br>
                    かなりアクセスは悪いけど穴場スポット。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/07.jpg' %}" alt="" srcset="">
                <p>
                    次は、同じ場所かと思いきや、こちらはかの有名な清水寺。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/08.jpg' %}" alt="" srcset="">
                <p>
                    寄りで撮ったらどこで撮っても場所は関係ない。<br>
                    というわけで清水寺の紫陽花は以上。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/09.jpg' %}" alt="" srcset="">
                <p>
                    続きましてこちらは京都の三室戸寺。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/10.jpg' %}" alt="" srcset="">
                <p>
                    最近なんか花が小さい？ような気もするけど、だいぶ何年も撮りに出掛けた場所。<br>
                    (厳密にいうと花ではなくガク)<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/11.jpg' %}" alt="" srcset="">
                <p>
                    多種多様な紫陽花に圧倒される。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/12.jpg' %}" alt="" srcset="">
                <p>
                    マクロレンズを手に入れるまではこれ以上寄るとピントが合わないのでこれが精一杯。<br>
                    でも壁紙には良いかも？と思って定番ショット化していた。<br>
                    が、なかなか画角一杯にまっすぐ入るような立派な紫陽花を見つけるのがまた難しい。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/13.jpg' %}" alt="" srcset="">
                <p>
                    紫陽花を見た帰りに近くのカフェへ。<br>
                    炭酸水を入れると色が変わる、紫陽花ドリンク。<br>
                    <br>
                    さっきの写真となんとなくアプリで二重露出してみると…<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/14.jpg' %}" alt="" srcset="">
                <p>
                    あらなんとまあ爽やかなドリンク！<br>
                    二重露出編集に目覚めたきっかけのショット。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/15.jpg' %}" alt="" srcset="">
                <p>
                    一緒に食べたたまごサンドが美味でした…<br>
                    <br>
                    宇治の三室戸寺近くのカフェ。<br>
                    RAKU CAFE<br>
                    京都府宇治市宇治又振65 <br>
                    <br>
                    女子受け間違いなし。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/16.jpg' %}" alt="" srcset="">
                <p>
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/17.jpg' %}" alt="" srcset="">
                <p>
                    続きましては再び奈良へ。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/18.jpg' %}" alt="" srcset="">
                <p>
                    ここ最近見つけた新たな紫陽花スポット。<br>
                    奈良の「矢田寺」。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/19.jpg' %}" alt="" srcset="">
                <p>
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/20.jpg' %}" alt="" srcset="">
                <p>
                    大きな紫陽花が山一面に咲き誇っていて紫陽花のトンネルのよう。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/21.jpg' %}" alt="" srcset="">
                <p>
                    紫陽花と着物。素敵。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/22.jpg' %}" alt="" srcset="">
                <p>
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/23.jpg' %}" alt="" srcset="">
                <p>
                    風呂敷もまたよく合う。<br>
                    個人的意見ですが、服を持ち運ぶ時は基本風呂敷を使う派です。<br>
                    袋だと出し入れしにくい一方、風呂敷はさっと広げて綺麗に収納出来る上に、嵩張らない。おすすめです。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/24.jpg' %}" alt="" srcset="">
                <p>
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/25.jpg' %}" alt="" srcset="">
                <p>
                    服に限らず、バッグや水筒代わりに。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/26.jpg' %}" alt="" srcset="">
                <p>
                    そんなこんなで矢田寺は本当におすすめです。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/1/27.jpg' %}" alt="" srcset="">
                <p>
                    以上紫陽花だけのコラムでした。<br>
                    <br>
                    梅雨の時期も紫陽花の時期ももうすぐ終わりますが、まだ間に合う！<br>
                    寄りで撮れば道端の紫陽花でも十分綺麗です。<br>
                    是非梅雨の花に目を向けてみてはいかがでしょうか。<br>
                    <br>
                    次回コラムもお楽しみに！<br><br>
                </p>
            </div>
        </div>
    </div>
</section>



{% endblock %}