{% extends "base.html" %}
{% load static %}

{% block main %}


<section class="wanko-section" id="wanko">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item"><a href="/projects/wanko">わんこ旅</a></li>
                <li class="breadcrumb-item active" aria-current="page">vol.2</li>
            </ol>
        </nav>
    </div>
    <div class="container fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/wanko/wanko2.jpg' %}" alt="..." />
    </div>

    <div class="container text-black p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-10 col-lg-8">
                <p>
                    今回のコラムは京都のホテル#1 <br><br>
        
                    近年異常な程、京都にホテルが増えている。<br>
                    スタイリッシュで近代的な設えの宿もあれば、古き良き風情を残している宿もある。が、全て共通して「京都らしさ」は大事にされている印象を受ける。<br><br>
        
                    海外旅行に行けなくなり、国内でゆったり過ごす所謂「大人旅」をするようになり、食の開拓にも若干飽きつつある中(といっても開拓し続けているが)、ホテル巡りが最近の私のブーム。<br><br>
        
                    旅行に特化したクレジットカードを作り、あらゆる旅行アプリを駆使し、ポイントと特典で良いホテルに泊まるスキルが極まってきた。<br><br>
        
        
        
                    今回は、これまで私が泊まったことのある京都のホテルを紹介。たくさんあるため次回vol.3に続く2回シリーズでお届けします。<br><br>
        
                    京都に訪れた、又は戻ってきた時の旅の候補、そして3月26日の宿泊先の候補としても参考になれば幸いです。<br><br>
        
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/02.jpg' %}" alt="" srcset="">
                <p>
                    1つ目は  THE 王道！「ホテルグランヴィア京都」<br>
                    えびちゃんこと、海老原先生の御来団時のご所望宿泊先ですね。<br><br>

                    今回はなんとスイートルーム。<br>
                    コロナ禍により海外からの観光客が減った京都では、どこの宿も異常な程、宿泊代が安い…！<br>
                    訪問時はgo to travelもあり、スイートルームとは思えないどころかビジネス並みのお値段で宿泊。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/03.jpg' %}" alt="" srcset="">
                <p>
                    ゆったりとしたソファが並べられ、その横にはテレビと冷蔵庫。そしてベッドの前にもテレビ。<br>
                    こんな部屋に2台もテレビがあっても、むしろテレビ見るなんて勿体ない。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/04.jpg' %}" alt="" srcset="">
                <p>
                    ちょうど同響の定演のライブ配信日だったため、この優雅な部屋で山下先生指揮の優雅な音楽を楽しめた。<br>
                    (これはテレビ繋げられずスマホで見るという…)<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/05.jpg' %}" alt="" srcset="">
                <p>
                    スイートルームはグランヴィアフロアにあるため、専用の「フロアラウンジ」を利用出来る。<br>
                    お菓子やおつまみ、お茶やお酒まで自由に楽しめ、専用コンシェルジュがいるため混雑を避けてゆっくりとチェックアウトが出来る。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/06.jpg' %}" alt="" srcset="">
                <p>
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/07.jpg' %}" alt="" srcset="">
                <p>
                    部屋から変化していく空色と京都タワーを永遠に眺められる。いつも見る光景がちょっと特別に感じられた。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/08.jpg' %}" alt="" srcset="">
                <p>
                    朝食もまた京都を眺めながら。鶏肉かオムレツの2択で選べる朝から豪華なモーニング。<br><br>


                    王道のグランヴィアこそ、案外お手軽価格で泊まれるため新幹線移動になる人にはとてもオススメ。<br><br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/09.jpg' %}" alt="" srcset="">
                <p>
                    2つ目は二条城の目の前に位置する「CANATA  KYOTO」<br><br>

                    実はANAクラウンプラザホテルの真横にあり、髙橋夫妻(りょーいちさん、ごっちん先輩)の結婚パーティーの時にアクセスが良すぎて最高だった場所。改めておめでとうございます！<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/10.jpg' %}" alt="" srcset="">
                <p>
                    まずこの鍵。この鍵だけでテンションが上がる。<br>
                    「マットな質感」が個人的に好きでそれを凝縮しているようなこの鍵から全てが始まる素敵なお部屋。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/11.jpg' %}" alt="" srcset="">
                <p>
                    グレーの統一感と、お洒落なインテリアに囲まれて落ち着いた時間を過ごすことが出来る。<br>
                    今回は一休のクーポンを利用して宿泊。お高い方のお部屋であれば、二条城を望むテラスがどーんとあり、夜の一杯、朝のヨガなどしたらまさに絵に描いたようなホテルステイ。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/12.jpg' %}" alt="" srcset="">
                <p>
                    3つ目は祇園に位置する「ザ セレスティン京都祇園」<br><br>

                    こちらは法人の社割を利用して宿泊。<br>
                    これも個人的にどタイプ。八坂にも花見小路にも近く、入口から観光地感漂う。落ち着いたラウンジに、大浴場もあり、部屋から浴衣で移動出来る。<br>
                    部屋には老舗日本茶専門店・一保堂のお茶、西川貞三郎商店プロデュースの清水焼の茶器が用意されており、タオルは今治タオル。上質の極み…。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/13.jpg' %}" alt="" srcset="">
                <p>
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/14.jpg' %}" alt="" srcset="">
                <p>
                    扉を開けると和を感じる設。<br><br>

                    三井不動産の宿で、二条城前にあった国際ホテルが建て直され新しく出来たHotel The Mitsui  Kyotoも系列でかーーなり気になっているものの高すぎてハードルが高い…まずはレストラン利用から攻めようと検討中。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/15.jpg' %}" alt="" srcset="">
                <p>
                    4つ目はアートが融合されたホテル「node hotel」<br><br>

                    部屋ごとに飾られているアートが異なり、アーティストの紹介もされている。グレーを基調とした無機質さがよりスタイリッシュさを際立たせる。<br>
                    この宿も個人的に超タイプ。ソファにライトにインテリア全て欲しくなる。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/16.jpg' %}" alt="" srcset="">
                <p>
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/17.jpg' %}" alt="" srcset="">
                <p>
                    朝からおしゃれ家電の代名詞バルミューダのポットで珈琲を。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/18.jpg' %}" alt="" srcset="">
                <p>
                    一階のレストランは宿泊者以外も利用出来る。<br>
                    宿に戻ってきて一杯だけ飲んで部屋に帰るというのも最近の個人的な楽しみ方。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/19.jpg' %}" alt="" srcset="">
                <p>
                    5つ目は「ザ ジェネラル 京都」<br>
                    実は結婚式会場であるフォーチュンガーデン京都から紹介してもらえる宿の1つ。<br>
                    今回は式場成約特典として無料宿泊券をゲット。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/20.jpg' %}" alt="" srcset="">
                <p>
                    ウェルカムフードに箱入りお団子をいただき、お部屋でゆっくり食せる。<br>
                    部屋に空きがあったため、たった1000円でワンランク部屋タイプをアップしてもらえた。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/21.jpg' %}" alt="" srcset="">
                <p>
                    今回は「高辻富小路」の宿で、中庭にはシンボリックなケラマツツジが植えられている。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/2/22.jpg' %}" alt="" srcset="">

                <p>
                    朝食はレストランにて「tgkのtkg」(「ザ ジェネラル京都の卵かけご飯」)と題された、卵かけご飯を食した。ラウンジでも朝食にフリーでパンをいただくこともできる。<br><br><br>




                    今回は5つホテルを紹介。<br>
                    長くなってしまうので今回はここまで。<br><br>

                    泊まってみたい宿はありましたか？<br><br>

                    次回は今っぽい宿と、京町家を生かした京都らしい宿をご紹介。<br><br>

                    次回コラムもお楽しみに！<br><br>


                </p>
            </div>
        </div>
    </div>
</section>



{% endblock %}