{% extends "base.html" %}
{% load static %}

{% block main %}


<section class="wanko-section" id="wanko">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item"><a href="/projects/wanko">わんこ旅</a></li>
                <li class="breadcrumb-item active" aria-current="page">vol.3</li>
            </ol>
        </nav>
    </div>
    <div class="container text-center fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/wanko/wanko3.jpg' %}" alt="..." />
    </div>

    <div class="container text-black p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-10 col-lg-8">
                <p>
                    前回に引き続き、京都のホテル#2 <br><br>

                    前回とテイストを変えて、今っぽい宿と、京町家を生かした京都らしい宿を紹介します。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/02.jpg' %}" alt="" srcset="">
                <p>
                    6つ目のこちらは今っぽい「 THE √2 HOTEL」<br>
                    京都駅又は東寺から徒歩で10分前後に位置するホテル。<br>
                    超女子受けの宿で、海外インテリアに囲まれた空間。部屋毎に少しずつ女子度とテイストが異なるが、インスタを見ると大体みんなバスローブを着てお洒落な写真を撮っている。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/03.jpg' %}" alt="" srcset="">
                <p>
                    クリスマスパーティーと称して女子3人で宿泊。人生初のUber eatsに感動！(奈良の私の住んでいる地域は対象外)<br>
                    伊勢丹やカルディでお惣菜やつまみやお酒を購入し、Netflixや Amazonもホテルのテレビで自由に観れるため、映画や音楽を楽しんだ。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/04.jpg' %}" alt="" srcset="">
                <p>
                    お風呂もおしゃれでシャワーの持ち手はなんとレトロな受話器風。<br>
                    ただめちゃくちゃ重かった…引っ掛ける所もないからひたすら手で持ち続けるしかない。<br>
                    こういうお洒落と便利はなかなか融合しないものだった…<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/05.jpg' %}" alt="" srcset="">
                <p>
                    7つ目は和のテイストに変わり、「nol kyoto sanjo」<br>
                    キンシ正宗の販売所だった町屋をリノベーションしたホテル。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/06.jpg' %}" alt="" srcset="">
                <p>
                    看板もそのまま残されている。 <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/07.jpg' %}" alt="" srcset="">
                <p>
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/08.jpg' %}" alt="" srcset="">
                <p>
                    ロビーラウンジではキンシ正宗の日本酒が自由に飲める。おちょこや升もキンシ正宗。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/09.jpg' %}" alt="" srcset="">
                <p>
                    檜葉風呂がありゆったり浸かれる。<br>
                    部屋に入った時の第一印象「部屋の半分お風呂やん」<br>
                    仕切りドアついてます、ご安心を。シャワーもついてます、ご安心を。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/10.jpg' %}" alt="" srcset="">
                <p>
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/11.jpg' %}" alt="" srcset="">
                <p>
                    朝食は部屋に運んできてもらえる。祇園の舞妓さん御用達の「中谷」の名物サンドイッチ。「おかもち」と呼ばれる、舞妓・芸妓さんのいる置屋に届ける箱だそう。<br><br>

                    京都ならではを味わえます。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/12.jpg' %}" alt="" srcset="">
                <p>
                    8つ目は町家一棟貸切タイプ「鈴 宮川町 椿」<br>
                    京都で展開しているRinn(鈴)シリーズの一つ。<br>
                    椿は町家タイプの宿で一棟貸切宿。<br>
                    町家をリノベーションした宿で、7人まで宿泊出来る。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/13.jpg' %}" alt="" srcset="">
                <p>
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/14.jpg' %}" alt="" srcset="">
                <p>
                    まさかこんな立派なお宿とも知らず、あじさいで遅くまで呑んで帰ったので、一棟の広さの無駄遣い感が半端なかった。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/15.jpg' %}" alt="" srcset="">
                <p>
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/16.jpg' %}" alt="" srcset="">
                <p>
                    チェックインは別の鈴の受付の場所で。<br>
                    パスワードで宿泊施設へ入れる。<br><br>

                    この際も何の特典だったか、半額で泊まれた。<br>
                    キャンペーンやポイント、経由サイトによって金額がかなり変わってくるので要チェック。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/17.jpg' %}" alt="" srcset="">
                <p>
                    チェックインは別の鈴の受付の場所で。<br>
                    パスワードで宿泊施設へ入れる。<br><br>

                    この際も何の特典だったか、半額で泊まれた。<br>
                    キャンペーンやポイント、経由サイトによって金額がかなり変わってくるので要チェック。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/18.jpg' %}" alt="" srcset="">
                <p>
                    麸屋町二条は「カリモク家具」を取り入れた京町家。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/19.jpg' %}" alt="" srcset="">
                <p>
                    吹き抜けも当時のままに。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/20.jpg' %}" alt="" srcset="">
                <p>
                    システムキッチンがあるが、リノベーション前の釜と神棚はそのままに。<br>
                    このスペースのことを私は「おへついさん」と小さい頃から家で教わっていたが、京都では「おくどはん」と言うとか。歴史や地域性を感じながら過ごすことが出来た。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/21.jpg' %}" alt="" srcset="">
                <p>
                    <br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/22.jpg' %}" alt="" srcset="">
                <p>
                    周辺のおすすめの食材購入場所等もたくさん教えてもらえるので、本当に京都に住んでいるかのように買い物をし、キッチンで料理し、信楽焼きのお風呂にのんびり浸かり、広いリビングでくつろぎ2階で寝る、という理想的な生活を実現。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/23.jpg' %}" alt="" srcset="">
                <p>
                    最後は軽くビジネスホテルのご紹介。<br>
                    「リソル京都」「リソルトリニティ京都」<br><br>

                    リソルグループのお宿。ビジネスホテルながらもロビーや客室、レストランもとても落ち着いた雰囲気。かつ比較的安い。<br><br>

                    軽めに泊まりたい際の参考に。<br><br><br>



                    まだ泊まったことのないチェック済み候補達もホテル名だけ紹介。と思ったものの、ざっと20以上あって収集つかないのでやめます。<br>
                    お宿探しの際はご協力します。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/3/24.jpg' %}" alt="" srcset="">
                <p>
                    以上、京都のホテル紹介でした。<br><br>


                    次回コラムもお楽しみに！<br><br>

                </p>
            </div>
        </div>
    </div>
</section>



{% endblock %}