{% extends "base.html" %}
{% load static %}

{% block main %}


<section class="wanko-section" id="wanko">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item"><a href="/projects/wanko">わんこ旅</a></li>
                <li class="breadcrumb-item active" aria-current="page">vol.4</li>
            </ol>
        </nav>
    </div>
    <div class="container fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/wanko/wanko4.jpg' %}" alt="..." />
    </div>

    <div class="container text-black p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-10 col-lg-8">
                <p>
                    今回のコラムは「京都のカフェ」<br><br>

                    京都にはたくさん美味しいお店がありますが、今回はカフェに絞ってご紹介したいと思います。<br><br>

                    今まで撮りまくった写真をまとめてみたらかなりの数のお店があったので、さくさく進んでいきます。<br>
                    行きたいお店、要チェック！<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/02.png' %}" alt="" srcset="">
                <p>
                    「ウォールデン ウッズ キョウト」<br>
                    白を基調としたお洒落空間。若者に人気。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/03.png' %}" alt="" srcset="">
                <p>
                    「カフェ デ コラソン」<br>
                    堀川今出川付近の落ち着いた珈琲専門店で、珈琲ゼリーがもう…本当に美味しい。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/04.png' %}" alt="" srcset="">
                <p>
                    「トリビュート コーヒー」<br>
                    最近お気に入りしたカフェ。差し込む光が美しく、北欧インテリアに囲まれた静かで落ち着いた空間。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/05.png' %}" alt="" srcset="">
                <p>
                    「葦島珈琲」<br>
                    三条河原町交差点付近のため、立地的にわりと混雑しがちなので早めの時間がおすすめ。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/06.png' %}" alt="" srcset="">
                <p>
                    皆さんご存知「ブルーボトルコーヒー」<br>
                    ブルーボトルについては説明カット。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/07.png' %}" alt="" srcset="">
                <p>
                    「村上開新堂」<br>
                    絶対的おすすめ。四季の風情を中庭を眺めながら感じられる京都の大人空間。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/08.png' %}" alt="" srcset="">
                <p>
                    「サロン ド カンバヤシ」<br>
                    こちらは髙見の結婚式会場だったアカガネリゾート内にあるカフェ。髙見よ、改めておめでとう！<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/09.png' %}" alt="" srcset="">
                <p>
                    私の1番のお気に入り。静かで落ち着く私の隠れ家的空間なので流行りになってほしくないところ。知りたい人は個人的にこそっと聞いてください。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/10.png' %}" alt="" srcset="">
                <p>
                    「喫茶フランソワ」<br>
                    音楽関係者はほぼ行ってるであろうクラシック曲が流れている純喫茶。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/11.png' %}" alt="" srcset="">
                <p>
                    「ワイフ アンド ハズバンド」<br>
                    鴨川ピクニックが出来ることで有名。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/12.png' %}" alt="" srcset="">
                <p>
                    「キッサ マスター」<br>
                    鞄屋に併設されたカフェ。お店の奥にあり、庭園が眺められる。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/13.png' %}" alt="" srcset="">
                <p>
                    「イカリヤ コーヒー」<br>
                    自家製粉米粉で作るスイーツと自家焙煎珈琲を楽しめる。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/14.png' %}" alt="" srcset="">
                <p>
                    「禅カフェ」<br>
                    京都の老舗菓子店、鍵善良房が手がけるカフェ。大人空間で和菓子と珈琲を堪能できる。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/15.png' %}" alt="" srcset="">
                <p>
                    「カフェ&ギャラリー on」<br>
                    禅がテーマの、白隠(はくいん)禅師のギャラリーの1階にあるカフェ。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/16.png' %}" alt="" srcset="">
                <p>
                    「クランプコーヒー サラサ」<br>
                    京都にいくつかあるSARASAシリーズの自家焙煎珈琲のカフェ。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/17.png' %}" alt="" srcset="">
                <p>
                    「アカツキコーヒー」<br>
                    一乗寺にあるコーヒー店。ちょこっとケーキなども共に味わえる。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/18.png' %}" alt="" srcset="">
                <p>
                    「キルン」<br>
                    1階はコーヒーショップ。2階にはレストランが併設されている。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/19.png' %}" alt="" srcset="">
                <p>
                    「前田珈琲」<br>
                    明倫店は旧小学校にあり、レトロな空間で楽しめる珈琲は味わい深い。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/20.png' %}" alt="" srcset="">
                <p>
                    「火裏蓮花」<br>
                    細い路地裏の奥にあるお店。カレーも美味しい。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/21.png' %}" alt="" srcset="">
                <p>
                    「ソングバード コーヒー」<br>
                    オリジナルブレンドコーヒーが味わえるが、鳥の巣カレーとたまごサンドがとても美味しい。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/22.png' %}" alt="" srcset="">
                <p>
                    「珈琲工房てらまち」<br>
                    三条商店街にある趣ある珈琲店。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/23.png' %}" alt="" srcset="">
                <p>
                    「喫茶上る」<br>
                    鴨川沿いにある落ち着いた畳部屋の喫茶。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/24.png' %}" alt="" srcset="">
                <p>
                    「ザ スリーベアーズ」<br>
                    烏丸御池から烏丸通りを少し下ったところにあるTHEイギリスなカフェ。バノフィーパイがとても美味しい。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/4/25.png' %}" alt="" srcset="">
                <p>
                    今回はここまで。珈琲が多めでしたが次回はケーキ、軽食系もご紹介。<br><br>

                    次回コラムもお楽しみに！<br><br>

                </p>
            </div>
        </div>
    </div>
</section>



{% endblock %}