{% extends "base.html" %}
{% load static %}

{% block main %}


<section class="projects-section" id="wanko">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item"><a href="/wanko">わんこ旅</a></li>
                <li class="breadcrumb-item active" aria-current="page">vol.1</li>
            </ol>
        </nav>
    </div>
    <div class="container text-center fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/wanko/wanko1.jpg' %}" alt="..." />
    </div>

    <div class="container text-center text-white p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-10 col-lg-8">
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/01.jpg' %}" alt="" srcset="">
                <p>
                    先日、奈良のお寺、「長弓寺」に早朝散歩に出掛けた。
                    あいにくの雨。
                    でも紫陽花を撮るなら悪くないなと、雨の日ならではの写真を撮ろうと意気込んで行った。
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/02.jpg' %}" alt="" srcset="">
                <p>

                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/03.jpg' %}" alt="" srcset="">
                <p>
                    カタツムリを発見！
                    超ミニサイズ。(寄りすぎて分からない)
                    よくみるといっぱいいる。
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/04.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/05.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/06.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/07.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/08.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/09.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/10.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/11.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/12.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/13.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/14.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/15.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/16.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/17.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/18.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/19.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/20.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/21.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/22.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/23.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/24.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/25.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/26.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid" src="{% static 'img/projects/wanko/1/27.jpg' %}" alt="" srcset="">
                <p>
                    
                </p>
            </div>
        </div>
    </div>
</section>



{% endblock %}