{% extends "base.html" %}
{% load static %}

{% block main %}


<section class="wanko-section" id="wanko">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item"><a href="/projects/wanko">わんこ旅</a></li>
                <li class="breadcrumb-item active" aria-current="page">vol.5</li>
            </ol>
        </nav>
    </div>
    <div class="container fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/wanko/wanko5.jpg' %}" alt="..." />
    </div>

    <div class="container text-black p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-10 col-lg-8">
                <p>
                    今回のコラムは前回に引き続き「京都のカフェ」<br><br>

                    前回は珈琲が多めでしたが今回はケーキ屋さん多め。<br>
                    今回も多いのでさくさくいきます。<br>
                    行きたいお店、要チェック！<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/02.png' %}" alt="" srcset="">
                <p>
                    「開化堂カフェ」<br>
                    茶筒に見立てたチーズケーキが美し美味しい。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/03.png' %}" alt="" srcset="">
                <p>
                    「カフェ　ビブリオテック ハロー!」<br>
                    壁一面に本。カメラ界の人が撮影に使っていることもあるお洒落カフェ。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/04.png' %}" alt="" srcset="">
                <p>
                    「マルクパージュ」<br>
                    丸太町にある落ち着いた京町屋ケーキ屋さん。どの季節もケーキが超美味しい。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/05.png' %}" alt="" srcset="">
                <p>
                    「ラ・メゾン・ジュヴォー」<br>
                    フランス発祥のケーキ屋さん。東京・愛知にも店舗を持つ。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/06.png' %}" alt="" srcset="">
                <p>
                    「アッサンブラージュ カキモト」<br>
                    バーカウンターのような落ち着いた空間で味わえる。チョコレートが人気。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/07.png' %}" alt="" srcset="">
                <p>
                    「遊形サロン・ド・テ」<br>
                    京都の老舗旅館、俵屋旅館が手がけるカフェ。わらび餅が絶品。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/08.png' %}" alt="" srcset="">
                <p>
                    「ヴェール・デ・グリ」<br>
                    木津川にある花屋さんのカフェ。昔、水道局が使用していたポンプ小屋を改装。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/09.png' %}" alt="" srcset="">
                <p>
                    「イラン イラン」<br>
                    同じく花屋さんのカフェ。下鴨神社付近にあり、ちょこっとカフェスペースがある。ドライフラワー、造花まで豊富。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/10.png' %}" alt="" srcset="">
                <p>
                    「プルミエ・エタージュ」<br>
                    ドライフラワーのお店に併設しているカフェ。ドライフラワーの香りが広がる。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/11.png' %}" alt="" srcset="">
                <p>
                    「ことばのはおと」<br>
                    町屋ブックカフェ。猫のパフェは1日限定20食。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/12.png' %}" alt="" srcset="">
                <p>
                    「スギトラ」<br>
                    オシャレで芸術的なジェラート。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/13.png' %}" alt="" srcset="">
                <p>
                    「辻利兵衛」<br>
                    宇治にある抹茶の老舗。紫陽花の季節は紫陽花パフェが味わえる。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/14.png' %}" alt="" srcset="">
                <p>
                    「カフェ・ドンバイスフェラ」<br>
                    インテリアショップのカフェ。お店のわんこがのんびり歩いている。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/15.png' %}" alt="" srcset="">
                <p>
                    「ダンデライオン チョコレート」<br>
                    カカオに拘ったチョコレート屋さん。京都店舗は閉店したが東京、三重にも店舗がある。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/16.png' %}" alt="" srcset="">
                <p>
                    「フォーチュン ガーデン 京都」<br>
                    結婚式場兼レストラン。アフタヌーンティーも楽しめる。<br>
                    レストランは式当日ゲスト待合室となる。私事ではありますが、犬飼響介(架空の人物)の結婚式場でございます。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/17.png' %}" alt="" srcset="">
                <p>
                    「リッツカールトン 京都」<br>
                    リッツカールトンホテルの京都。ホテルラウンジでアフタヌーンティーが楽しめる。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/18.png' %}" alt="" srcset="">
                <p>
                    「フォーシーズンズ ホテル」<br>
                    フォーチュンガーデンとややこしいがこちらは七条周辺にある。こちらもホテルラウンジでアフタヌーンティーが楽しめる。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/19.png' %}" alt="" srcset="">
                <p>
                    「ホテル ウェスティン 京都」<br>
                    蹴上にあるホテル。改装され綺麗になって間もない。英国発高級紅茶ブランドのJING TEA(ジン ティー)を味わえる。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/20.png' %}" alt="" srcset="">
                <p>
                    「京都モダンテラス」<br>
                    ロームシアターにあるレストラン。演奏会の時に立ち寄るにぴったり。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/21.png' %}" alt="" srcset="">
                <p>
                    「本日の」<br>
                    "パンとエスプレッソと"の系列。パン屋さんの奥に喫茶スペースがある。話題のマリトッツォもジューシーな牛カツサンドも絶品。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/22.png' %}" alt="" srcset="">
                <p>
                    「ノット カフェ」<br>
                    北野天満宮近く。たまごサンドと餡バターサンドが大人気。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/23.png' %}" alt="" srcset="">
                <p>
                    「カフェ ドット エス」<br>
                    メルセデス・ベンツ「smart (スマート)」の専売拠点「スマートセンター京都ザ・ガーデン」に併設されたコーヒースタンド。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/24.png' %}" alt="" srcset="">
                <p>
                    「一保堂茶舗」<br>
                    有名な京都の老舗日本茶専門店。テイクアウトのお茶のパッケージが可愛い。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/25.png' %}" alt="" srcset="">
                <p>
                    「貴船倶楽部」<br>
                    貴船にあるカフェ。自家製水もちが夏らしく爽やかで涼しげ。<br><br>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/26.png' %}" alt="" srcset="">
                <p>
                    京都通な方は多いと思うので知ってるところも多かったのでは？<br>
                    美味しいお店があったら教えてください♪<br><br>

                    次回コラムもお楽しみに！<br><br>
                </p>
        </div>
    </div>
</section>



{% endblock %}