{% extends "base.html" %}
{% load static %}

{% block main %}


<section class="wanko-section" id="wanko">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item"><a href="/projects/wanko">わんこ旅</a></li>
                <li class="breadcrumb-item active" aria-current="page">vol.6</li>
            </ol>
        </nav>
    </div>
    <div class="container fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/wanko/wanko6.jpg' %}" alt="..." />
    </div>

    <div class="container text-black p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-10 col-lg-8">
                <p>
                    今回のコラムは奈良公園周辺エリアのお店。<br><br>


                    わんこ旅記事作成には、テーマを決めて膨大な写真データを引っ張ってきて考えなければなりません。<br><br>
                    
                    10/24の入籍以来、毎週結婚式か前撮りに追われ、当HP作成者であるdaikoshに締切をつつかれながら数日前にギリギリ仕上げました。<br><br>
                    
                    よっていつもよりも手抜き感が拭えないことをここに宣言させていただきます。<br><br><br>
                    
                    
                    本題に戻りまして、今回のコラムは奈良公園周辺エリアのお店！<br><br>
                    
                    近年どんどん新しいお店が出てきていますが、残念ながら今回ご紹介するのは私が写真を引っ張ってこれたお店だけです…。<br><br>
                    
                    本当はもっとあります！良い美味しいお店！<br>
                    この記事も参考にしつつ、奈良にお越しの前に一報いただければ紹介出来ていないお店もたくさん紹介させていただきます。<br><br>
                    
                    早速いってみましょう〜<br><br>
                    

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/02.png' %}" alt="" srcset="">
                <p>
                    MIROKU 奈良 by THE SHARE HOTELS<br><br>

                    9月にオープンしたばかりのホテル。そのCafe&Barは宿泊者以外も利用出来る。<br>
                    テラス席では鹿がふらっと現れてくれるかも？<br><br>
                    
                    奈良のオリジナルビールなどを楽しむことが出来る。<br><br>
                     
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/03.png' %}" alt="" srcset="">
                <p>
                    なら麦酒ならまち醸造所<br><br>

                    ならまちでクラフトビールの醸造をしているこちら。<br>
                    クラフトビールやつまみもあり、昼飲みにも最高。<br>
                    奈良らしくお酒のあてには柿の葉寿司がある。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/04.png' %}" alt="" srcset="">
                <p>
                    奈良ホテル<br><br>

                    奈良ホテルのレストラン。奈良ホテルは天皇陛下が奈良にお越しの際に泊まる一流老舗ホテル。<br>
                    1087年（寛治元年）に創建され、平安時代から江戸時代に栄えた門跡寺院のひとつで、現在その敷地内の一部が奈良ホテルとなっている。<br>
                    
                    1つ目に紹介したMIROKU奈良も、奈良ホテルの横にある。<br>
                    
                    昔ながらの和モダンを感じられる場所。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/05.png' %}" alt="" srcset="">
                <p>
                    和牛スジカレー<br><br>

                    近鉄奈良駅から東向き商店街を抜けた突き当たりのビル2階にあるカレー店。ステーキ店が手がける欧風カレーで、さすがお肉がとても柔らかい…。<br>
                    薬味が豊富で、こちらも奈良らしく奈良漬がある。一口サイズでカリカリとした食感は福神漬けによく似ていて、これは苦手な人でも食べやすくカレーとの相性抜群。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/06.png' %}" alt="" srcset="">
                <p>
                    サンバード<br><br>

                    ならまちにあるオムライス屋。<br>
                    レモンバターオムライスが最高に美味しい。さっぱりとしていてパクパク食べれます。それ以外もとても美味しい。小さめのお店なので予約おすすめ。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/07.png' %}" alt="" srcset="">
                <p>
                    laborusty<br><br>

                    ホットドッグのお店。食器が理科の実験のようで可愛く、店内もポップ。カメラマンのご主人と、その奥様が営むお店で、定休日はスタジオとしても利用されているそう。<br><br>
                    
                    とても美味しいのでオススメ。<br>
                    奈良らしく柿ジュースもある。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/08.png' %}" alt="" srcset="">
                <p>
                    天ぷら　天仁<br><br>


                    奈良にあるミシュランの天ぷら「つる由」の姉妹店。外観とても趣あって入りにくいが、入ってみればコスパの良い、カジュアルめなカウンターのみのお店。<br>
                    (行った時は、店の前で入って良いのか10分ぐらいは悩んだ)<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/09.png' %}" alt="" srcset="">
                <p>
                    Le Case<br><br>

                    春日大社の近くにある古民家を改装したキッシュ専門店。<br>
                    店舗内に入ったことはないが、コロナ禍でテイクアウトをしていたため、boxをテイクアウトしお家ランチを。<br>
                    鹿型のサンドクッキーも。人気店なので予約をオススメ。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/10.png' %}" alt="" srcset="">
                <p>
                    そうめん処　スルスル<br><br>

                    奈良の三輪そうめんを使った鯛だし創作そうめん専門店。<br>
                    だしが柔らかな味わいでありながら、ラーメンのような十分な味わい。そうめんの可能性を広げたお店。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/11.png' %}" alt="" srcset="">
                <p>
                    akordu<br><br>

                    自然や風土、季節を感じられるコンセプトがカードになっており、一品ごとにそのカードをめくってゆく。その一品にストーリーを感じられるそんな優雅で穏やかな時間を過ごせるお店。<br>
                    
                    奈良県庁の近くにあり、食後に細道から東大寺の裏手を散歩するのがオススメ。<br>
                    
                    本当に美しいお店で、ウェディングも手がけているよう。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/12.png' %}" alt="" srcset="">
                <p>
                    ふふ奈良「滴翠」<br><br>

                    ふふシリーズのホテル、ふふ奈良のレストラン。ホテル入口とは反対側に入口があり、浮見堂の畔にある。<br>
                    暖簾を潜り、洗練された内装が印象的。広い中庭を眺めながら食事が出来る。ふふシリーズはホテルはめちゃんこ高いが、ランチは比較的良心的でさくっと行きやすいので是非。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/13.png' %}" alt="" srcset="">
                <p>
                    春日野窯<br><br>

                    先ほどのキッシュのお店の横にあるカフェで小さなお店。陶芸体験なども出来るよう。さすが器にも趣が感じられる…。<br>
                    夏はかき氷も。お店の前を鹿が歩いて行く。　<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/14.png' %}" alt="" srcset="">
                <p>
                    中川政七商店  遊中川<br>

                    1716年(享年元年)に奈良で創業した中川政七商店。<br>
                    元々お座敷の部屋でお茶とカフェを楽しめていたのがしばらくなくなってしまっていたものの、今年春、本店が鹿猿狐ビルヂングとして復活。<br>
                    中川政七商店の鹿、猿田彦珈琲の猿、㐂つねの狐。3匹が集うこの建物は、古きを学び進化し続けることを志している。<br>
                    お抹茶、お茶、上生菓子をお座敷で中庭を眺めながらゆったりと楽しめる。<br>
                    上生菓子は「萬御菓子誂處 樫舎」のもの。<br>
                    春日大社や薬師寺に献上する和菓子を作っている老舗で、樫舎の店舗は大人気で混雑しているが、こちらでも楽しむことが出来る。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/15.png' %}" alt="" srcset="">
                <p>
                    CHAMI<br><br>

                    東向き商店街を抜けたエリアにあるコーヒーショップ。<br>
                    スタイリッシュで店名には"素材を理解し、独自のテイストを加え、独自の角度で表現する"という意味が込められているそう。(ムズカシイ)<br>
                    オリジナルカスタードが絶品！店内2階でもイートイン可能だが、テイクアウトして近くの猿沢池で食べるのもオススメ。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/16.png' %}" alt="" srcset="">
                <p>
                    GELATERIA FIORE<br><br>

                    ジェラートのお店。<br>
                    春日大社の南側、高畑町のエリアにあり、ドライフラワーに溢れた人気店。駅から少し遠いが、春日大社の裏道には近いので、普段と違ったルートの散歩をするのに◎<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/17.png' %}" alt="" srcset="">
                <p>
                    鹿のおしりコーヒー<br><br>

                    ならまちにある自家焙煎スペシャリティコーヒー豆専門店。小さなカフェでドライフラワーがたくさん。あちこちに鹿があしらわれおり、可愛い空間。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/18.png' %}" alt="" srcset="">
                <p>
                    音楽と珈琲　ジョニー<br><br>

                    音楽と珈琲をただただ楽しむ静かで大人な隠れ家空間。<br>
                    ジョニーという名前の由来は知らないが何故かしっくりくる…<br>
                    (<a href="/projects/ann/4">マツイキョースケのオールナイトニッポン #4 幹事長スペシャル</a>を聞けば分かる、かも？)<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/19.png' %}" alt="" srcset="">
                <p>
                    寧楽菓子司　中西与三郎<br><br>

                    老舗の和菓子屋さんで、店内も趣ある町屋。<br>
                    季節ごとに変わる上生菓子は目でも舌でも味わえて大好きな和菓子。夏はかき氷も。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/20.png' %}" alt="" srcset="">
                <p>
                    堀内果実園<br><br>

                    奈良県五條市の明治36年から六代目を迎える堀内果実園。<br>
                    豊かな土壌で育った果物を様々な形で販売しており、グランフロント大阪にも直営店がある。<br><br>
                    
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/6/21.png' %}" alt="" srcset="">
                <p>
                    ナナイロフルウツ<br><br>

                    猿沢池側の細道にあるドリンクスタンド。<br>
                    フレッシュなフルーツドリンクやふるーフルーツサワーが豊富。歩き疲れたらここのフレッシュなドリンクでひと息。<br><br><br>
                    
                    
                    
                    ざっと紹介したものの、これらはほんの30%といったところ…。<br>
                    写真がないだけで、もっと良いお店、気になるお店はまだまだあります！！<br><br>
                    
                    この記事も参考にしつつ、奈良にお越しの前に一報いただければ紹介出来ていないお店もたくさん紹介させていただきます。(2回目)<br><br>
                    
                    それでは皆さん、奈良に遊びに来られるのを楽しみにしております♪<br><br>
                    
                    次回コラムもお楽しみに！<br><br>
                    
                </p>
        </div>
    </div>
</section>



{% endblock %}