{% extends "base.html" %}
{% load static %}

{% block main %}


<section class="wanko-section" id="wanko">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item"><a href="/projects/wanko">わんこ旅</a></li>
                <li class="breadcrumb-item active" aria-current="page">vol.7</li>
            </ol>
        </nav>
    </div>
    <div class="container fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/wanko/wanko7.jpg' %}" alt="..." />
    </div>

    <div class="container text-black p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-10 col-lg-8">
                <p>
                    今回のコラムは「国内各地のホテル」<br><br>

                    私が巡った国内のおすすめホテルを紹介したいと思います。<br><br>
                    
                    県を見れば一目瞭然、私が行きがちな県が見えてきます…。<br><br>
                    
                    静岡より西ばかりですが、西日本の旅の参考にしてみてはいかがでしょうか。<br><br>
                    
                    では西の中でも東側より順にご紹介〜<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/02.png' %}" alt="" srcset="">
                <p>
                    静岡県の浜松周辺から。<br>
                    天竜浜名湖鉄道の二俣本町駅にある駅舎ホテル「 INN MY LIFE」<br>
                    駅長部屋をホテルにリノベーション。<br><br>
                    
                    ホテルの横を1両の列車が駆けていきます。<br><br>
                    
                    周辺で有名な地元のお店で調達したお夜食を部屋で。<br>
                    朝食は部屋の冷蔵庫に準備されており、部屋にある好きな食器に好きに盛り付けて。<br><br>
                    
                    (駅のホームで写真を撮って遊んでいたらカメラを落として保護レンズがバッキバキに割れた思い出)<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/03.png' %}" alt="" srcset="">
                <p>
                    同じく浜松。<br>
                    浜名湖の畔にあるホテルで大和ハウスのDaiwa Royal Hotel。<br><br>
                    
                    この部屋は数室しかない部屋で、浜松のインテリア雑貨のセレクトショップ「SPARA」とコラボレーションした部屋。<br>
                    ティファニーブルーに囲まれて女子旅にぴったり。<br>
                    近くの美味しいパン屋さんで買ったパンを、部屋の可愛いカトラリーでいただく…。<br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/04.png' %}" alt="" srcset="">
                <p>
                    こちらは富士山、山中湖周辺に位置するエクシブ山中湖。<br><br>

                    エクシブシリーズ。<br>
                    エクシブにはオールドエクシブと呼ばれる宿がいくつかあり、山中湖はそのオールドエクシブにあたる「エクシブ山中湖」と、比較的新しくエクシブらしい設の統一感をもった「山中湖サンクチュアリ・ヴィラ」がある。<br><br>
                    
                    部屋からばっちり富士山が見え、朝は山中湖にかかる雲海が見れる。<br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/05.png' %}" alt="" srcset="">
                <p>
                    お次は愛知県。<br>
                    「ニッコースタイル名古屋」は日航ホテルシリーズで、2020年8月にオープン。<br>
                    広々とした部屋に、名古屋城の鯱鉾を連想させる、金の鱗デザインの鏡が部屋を一層スタイリッシュにしてくれている。<br><br>
                    
                    One  harmonyという会員プログラムに属しているホテル。京都のホテルオークラもそのプログラムに入っているため、無料のこの会員になっていれば、結婚式終わり、式場の斜向かいにオークラはあるため、そこの喫茶店で割引の恩恵を受けれると思います✌<br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/06.png' %}" alt="" srcset="">
                <p>
                    お次は京都。わんこ旅vol.2.3で京都のホテルは紹介しましたが、こちらはその時紹介できなかったとっておきホテル。<br>
                    しっかりめに紹介させてください。<br><br>
                    
                    アマン・アマネムシリーズは超ラグジュアリーシリーズ。<br><br>
                    
                    入籍の記念に社割を使って宿泊。サービスが本当にすごい。<br>
                    この場所は、元々西陣織の織屋を営む人物が洛北鷹峯の広大な庭を所有しており、いつか織物美術館を創ることを夢見て育ててきた庭園。そんな土地に建築家ケリー・ヒルが目をつけ、10年以上かけた末にアマン京都はオープンした。<br>
                    ケリー・ヒルはホテルの完成間際にこの世を去りましたが、右上の写真の位置からいつも彼は考えを巡らしていたため、この庭はケリーヒルガーデンと名付けられている。<br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/07.png' %}" alt="" srcset="">
                <p>
                    広大な庭はありのままの自然を大事にし、四季折々の美を感じらる。秋の紅葉は、西陣織の色を構成する五色での美に重ね、様々な紅葉色が織りなす色彩を感じられる配色になっているとか。<br><br>

                    想いや拘りについて、ここの総支配人が私達にたくさん語って下さり、食事の際もご挨拶に来てくれるほどホスピタリティに溢れていました。<br>
                    
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/08.png' %}" alt="" srcset="">
                <p>
                    事前にお願いしていたわけでもなく部屋と、食事の際に、お祝いが準備されており、上品で細やかな心配りにも感動。<br><br>

                    海外に行けない今だからこそ、国内で少し贅沢なホテルステイをするのもおすすめ。<br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/09.png' %}" alt="" srcset="">
                <p>
                    続いては奈良県。<br>
                    「jwマリオット 奈良」は、マリオットbonvoyシリーズの一つで、2020年7月にオープンしました。<br>
                    奈良の自然美と古くからの伝統を尊重したデザインで、奈良のシンボルである鹿をモチーフにした装飾が散りばめられている。シルクロードの終着点である奈良をイメージしたデザインも。<br><br>
                    
                    ホテル裏にある蔦屋書店で買ってきた奈良のガイドブックを片手に、奈良のお菓子とお酒をあてにのんびり過ごすなどもよし。<br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/10.png' %}" alt="" srcset="">
                <p>
                    こちらも奈良の「 ANDO HOTEL」<br>
                    漢字で書くと安堵ホテル。若草山の山道途中に位置し、旅館をリノベーションして作られ、こちらも2020年7月オープン。<br><br>
                    
                    奈良を展望出来る部屋と露天風呂、釣りや星空ツアーなどのアクティビティも楽しめる。<br><br>
                    
                    奈良の食材にこだわった食事も大変美味しく頂ける。<br>
                    若草山からの夜景は是非一度見てほしい！<br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/11.png' %}" alt="" srcset="">
                <p>
                    「MIROKU  HOTEL」は2021年9月に出来た今回のコラムの中でも最も新しいホテル。<br><br>

                    奈良ホテルの横(裏？)に位置する。奈良の木材に拘った部屋に温もりを感じる。<br>
                    前回のコラムでも紹介した、テラス席で鹿が遊びに来てくれるホテル。<br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/12.png' %}" alt="" srcset="">
                <p>
                    続きまして大阪の「 HOTEL SHE OSAKA」<br>
                    SHEは京都にもあり、若者ウケ抜群ホテル。<br>
                    大阪は弁天町にあり、部屋にはレコードがある。ラウンジで自由にレンタルして部屋で楽しめるのが特徴。<br><br>
                    
                    大阪らしいユニークさ。<br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/13.png' %}" alt="" srcset="">
                <p>
                    続いては兵庫県。<br>
                    宿泊自体は一度もしておらずレストラン利用ばかりで、一度泊まってみたい「オリエンタルホテル」<br>
                    私たちの結婚式場「フォーチュンガーデン京都」と同じ、plan do seeの運営するホテル。<br>
                    神戸の海を一望でき、クリスマスシーズンはなんと言ってもホテル入口にあるクリスマスツリーがとってもお洒落で素敵可愛い。<br>
                    レストランではplan do see自慢のチーズケーキも楽しめる。<br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/14.png' %}" alt="" srcset="">
                <p>
                    次も兵庫県から、エクシブシリーズ「エクシブ有馬離宮」<br><br>

                    エクシブらしい装飾と内装を堪能出来る。<br>
                    先に紹介したエクシブ山中湖と似たものを感じるはず。<br><br>
                    
                    このレストランで初めて鳩肉(ピジョン)を食べた。普通に美味しい。<br>
                    ホテルのバーで一杯はマイブーム。<br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/15.png' %}" alt="" srcset="">
                <p>
                    こちらは淡路島にある「グランシャリオ北斗七星」<br>
                    部屋は一棟ずつになっており、天井からは星空が見えるようになっている。<br>
                    超曇りで星の一つすら見えなかったものの、明石海峡大橋が綺麗に見え、それだけでも十分！<br><br>
                    
                    ご飯も美味しく、食後に少しおつまみを運んでくださり、部屋でのんびり楽しく過ごせる。<br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/16.png' %}" alt="" srcset="">
                <p>
                    こちらは島根県、玉造温泉にある「湯陣千代の湯」<br><br>

                    がっつり旅館。貸切露天風呂があり、芯から温まれる。部屋はリノベーションされており、とても綺麗で落ち着いた空間。<br>
                    古さと新しさ両方の良さを体験出来る。<br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/17.png' %}" alt="" srcset="">
                <p>
                    お次は広島県。<br>
                    若者にも大人気のホテル。レストランスペース「プールサイド」は元々は屋内プールだった場所。<br><br>
                    
                    1階にはコーヒースタンド、プールサイドでは夜は旬のフルーツを使ったサワーなどが楽しめる。<br><br>
                    
                    場所も広島の街中にあり非常に便利。<br>
                    女子会にもぴったりなお宿。<br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/18.png' %}" alt="" srcset="">
                <p>
                    こちらも若者に大人気「THE KNOT  HOTEL」<br><br>

                    部屋は韓国インテリア風でお洒落な空間。<br>
                    夜はフロント横のラウンジスペースがバー空間になり、夏はテラス席で夜風に当たりながら過ごすことが出来る。<br><br>
                    
                    1階にはレストランがあり、平日でも混雑しているほど人気。<br><br>
                    
                    原爆記念公園にもほど近く、街中から歩ける距離で便利なホテル。<br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/19.png' %}" alt="" srcset="">
                <p>
                    こちらは広島の尾道にあるお宿「ベラビスタ スパ&マリーナ尾道」<br><br>

                    なんといってもこの宿のシンボルはフロントから真っ直ぐ抜けた先にある海が一望出来るテラスデッキ。<br>
                    夕暮れ時、刻々と変化する空とデッキに移る空色が見ていて飽きない。<br>
                    インテリアは様々なお洒落家具に溢れており、レストランもプールサイドのお洒落なスペース。<br>
                    食後にはラウンジやデッキスペースで、尾道ラーメンをサービスでお夜食にいただくことが出来る。<br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/20.png' %}" alt="" srcset="">
                <p>
                    瀬戸内海の生島の瀬戸田にある宿。<br><br>

                    2021年3月にオープンしたばかり。アマン創業者であるエイドリアン・ゼッカ氏が手がけた宿。<br>
                    Azumiの横には、銭湯宿であるyubuneが併設されている。<br>
                    瀬戸内の海の幸を堪能でき、部屋にも大きな湯船がある。<br><br>
                    
                    瀬戸内巡りの際にとてもおすすめ。<br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/7/21.png' %}" alt="" srcset="">
                <p>
                    最後は山口県「下関温泉　風の海」<br><br>

                    下関の海を一望でき、部屋にあるお風呂から永遠に海をながめながら過ごすことが出来る。<br>
                    部屋にはふぐの可愛いお菓子がルームサービスされており、ディナーではふぐのお刺身やふぐの唐揚げなど、山口の幸を堪能出来る。朝食も海の幸がたくさん。<br><br>
                    
                    ホテル横にある遊歩道では、海を眺めながらわんこの散歩をする人も。<br><br>
                    
                    ここに泊まって下関海峡を渡って福岡に行くなどもよし。<br><br><br><br>
                    
                    
                    
                    いかがでしたでしょうか？<br>
                    私の開拓地に若干の偏りがありますが、ひとつ言えるのは身近なところにも素敵なお宿はたくさんあるということ。<br>
                    近くのお宿に泊まれば、土地を生かした材質・食材が見え、よりその土地の良さに気付くことができます。<br><br>
                    
                    しばらくは国内旅行が続くと思いますが、旅の参考にしてみては？<br><br>
                    
                    
                    さて、わんこ旅もいよいよ終盤！<br>
                    次回コラムもお楽しみに！<br>
                    
                </p>
        </div>
    </div>
</section>



{% endblock %}