{% extends "base.html" %}
{% load static %}

{% block main %}


<section class="wanko-section" id="wanko">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item"><a href="/projects/wanko">わんこ旅</a></li>
                <li class="breadcrumb-item active" aria-current="page">vol.8</li>
            </ol>
        </nav>
    </div>
    <div class="container fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/wanko/wanko8.jpg' %}" alt="..." />
    </div>

    <div class="container text-black p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-10 col-lg-8">
                <p>
                    今回のコラムは京都のレストラン。<br>
                    vol.2.3ではカフェでしたが今回はレストランをご紹介したいと思います。<br><br>
                    
                    さて、わんこ旅もいよいよ最後！<br>
                    京都旅の際の参考にしてみては？<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/02.png' %}" alt="" srcset="">
                <p>
                    祇園四条の交差点側にある「丸橋」<br>
                    通りすがりに外観で気になりチェックしていたところ。京町屋の建物で京都牛とフレンチのコラボを堪能出来る。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/03.png' %}" alt="" srcset="">
                <p>
                    三条京阪駅近くにあるホテルのレストラン。<br>
                    フランス発祥の「 Mギャラリーコレクションホテルズ」の一つで2020年11月にオープン。<br>
                    レストラン・バーの1867は、「現代から近代へ、近代から侍の時代へ」まさに侍の時代が終焉を遂げる1867年（バーの名称にもなっています）頃を彷彿とさせる、和と洋を独創的に融合させたミステリアスな空間をイメージしたもの。<br>
                    ブルーを基調とした内装なとても上質で落ち着いた空間。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/04.png' %}" alt="" srcset="">
                <p>
                    祇園にある「おくむら」は京懐石風フランス料理を堪能出来る。<br>
                    実はこのお店は、「京都幽玄」の料理も監修している。<br>
                    結婚式場は京都幽玄の隣にある「京都祝言」で、同響オーボエパートの先輩だいひょーコト大北さんとフルートパートの先輩ゆうちょさんの挙式場所でもある。さすが大変美味しい。<br>
                    我々も京都祝言にブライダルフェアで見学に行った際特典でこちらでの食事券をいただき、念願叶って行けたお店である。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/05.png' %}" alt="" srcset="">
                <p>
                    こちらがその「京都幽玄」<br>
                    京都幽玄でも料理をいただくことが出来る。<br>
                    ただ、結婚式がある日、他に何かしら予定が入っていると全くお店として解放しないため、滅多に空いていない印象。<br>
                    今回は、同じく京都祝言のブライダルフェアの特典でいただいたチケットで平日に。庭を眺めながら個室で和で重厚なお弁当を堪能した。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/06.png' %}" alt="" srcset="">
                <p>
                    こちらは祇園おくむらの近くにある「スコルピオーネ」<br>
                    京町屋でイタリアンを堪能できる。<br>
                    内観が伝わる写真がなく、同響・会社が同じかなこ先輩、まゆちゃんでランチして誕プレを貰ったPAUL&JOE全面推しの写真でなんとなくイメージしていただきたい。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/07.png' %}" alt="" srcset="">
                <p>
                    さっきまでの四条通りを挟んで南側、花見小路周辺へ。<br>
                    こちらも京町屋だったはず。この日はカメラを持っておらず写真少なめで内観の記憶が不鮮明…。<br>
                    ワインにも拘ったお店でソムリエ厳選ワインが味わえる。青いグラスが印象的。<br><br>
                    
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/08.png' %}" alt="" srcset="">
                <p>
                    こちらも花見小路にあるお店。<br>
                    フレンチ料理で、食材とワインが選び抜かれている。一皿毎に、飲みやすいものからしっかりとしたものまで幅広くペアリングワインを提案していただけるため、料理もワインもより一層美味しく味わえる。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/09.png' %}" alt="" srcset="">
                <p>
                    こちらも花見小路周辺にあるイタリアンのお店。<br>
                    お手軽なお値段でお店も広く、何かと使い勝手が最高に良くかつ美味しいお店。困ったらここ。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/10.png' %}" alt="" srcset="">
                <p>
                    こちらも花見小路にある「豆寅」<br>
                    豆寅とマメトラがあり、豆寅は和食、マメトラはイタリアンになっている。豆寅といえば、この木箱に上品に盛り付けられた手毬寿司。一口サイズで食べやすく、見た目もとても可愛らしい。白味噌のお味噌汁もとても美味しくほっとする味わい。<br><br>
                    
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/11.png' %}" alt="" srcset="">
                <p>
                    手毬寿司と言えばこちらは手織り寿司。<br>
                    場所は四条烏丸の少し北。こちらは自分で手巻き寿司にして食べる形式。彩り豊かな具材が綺麗に並んでおり、その可愛さもありいつも人気なお店。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/12.png' %}" alt="" srcset="">
                <p>
                    そのまた近くにあるこちら「くをん」。<br>
                    うどん屋さんで、カレーうどんが推し。よくあるカレーうどんと違い、カレーライスに近い形で出てくる。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/13.png' %}" alt="" srcset="">
                <p>
                    ここで一旦蕎麦。<br>
                    地下鉄五条駅交差点にある評価高い蕎麦屋さん。一品も美味しい。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/14.png' %}" alt="" srcset="">
                <p>
                    再びカレー。カレーうどんと言えばこちら。<br>
                    「味味香」は八坂神社のすぐそばにある。出汁の効いたルーは普通のカレーうどんよりも和のテイストを感じる味わい。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/15.png' %}" alt="" srcset="">
                <p>
                    先程の四条烏丸から北に上がり烏丸御池周辺。<br>
                    こちらのお店はイカリヤシリーズの一つ。パスタの種類も豊富でザ・イタリアン。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/16.png' %}" alt="" srcset="">
                <p>
                    烏丸御池といえば、近年新しく生まれ変わった新風館。<br>
                    そこに入っているこちらのレストランもイタリアン。<br>
                    二次会としても利用できるお店。新風館にあるエースホテルには結婚式場としてのプランもプロデュースされている。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/17.png' %}" alt="" srcset="">
                <p>
                    四条と御池の間には推しのお店がいくつかあるがそのうちの一つがこちら。<br>
                    魚介と野菜を混ぜ合わせた名物丼で、〆には鯛茶漬けが出来、それがまた美味しい。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/18.png' %}" alt="" srcset="">
                <p>
                    魚介が美味しいといえば、烏丸御池のスタバすぐ横にあるここは私のお気に入りの居酒屋。<br>
                    ぶり大根がすごく美味しかったのに行けども行けども再びメニューに現れず悔しい…。日本酒も豊富で大変おすすめ。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/19.png' %}" alt="" srcset="">
                <p>
                    魚介繋がりから次はお寿司。<br>
                    カウンターのみの小さなお店で目の前で握って出てくる回らないお寿司。創作ネタもあり目も舌も喜ぶ。<br><br>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/20.png' %}" alt="" srcset="">
                <p>
                    創作といえばここ。京素材がたくさん使われているが何だか独特な空気感があるお店。「えんとゆかり」と読む。<br>
                    Moëtシャンパンが推しなのかグッズがたくさんありイケイケの店員さんながらご飯はとても美味しい。〆には坦々麺。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/21.png' %}" alt="" srcset="">
                <p>
                    次は鉄板ステーキ。四条河原町交差点高島屋すぐ南に新たに誕生したGOOD NATURE STATION。<br>
                    上の階にはホテルがあり、1階はお惣菜やイートインスペースなど、2階に数軒レストランが入っている。その2階にある鉄板焼きのお店。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/22.png' %}" alt="" srcset="">
                <p>
                    こちらも鉄板ステーキ。<br>
                    ここは祇園白川の川沿いにあり、テーブル席からそのせせらぎを感じることが出来る。〆は一口カレー。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/23.png' %}" alt="" srcset="">
                <p>
                    またまた鉄板ステーキ。<br>
                    これは京都駅にあるホテルグランヴィア京都にあるレストラン。鉄板焼きを堪能した後、食後のデザートは席を移動し、京都タワーを一望出来る席でゆっくり味わうことが出来る。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/24.png' %}" alt="" srcset="">
                <p>
                    ホテルグランヴィア京都からもう一つ。<br>
                    こちらは洋食で、ここも京都駅周辺の景色を一望出来る。いちごのアフタヌーンティーセットなども時期によって楽しむことができる。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/25.png' %}" alt="" srcset="">
                <p>
                    景色が良いと言えばこちら。<br>
                    フランス発祥の美食ブランド、フォションが手がけるホテル。全てがフォションカラーのピンクでとても上品で可愛い。<br>
                    そのレストランからは清水寺方向の景色を一望出来る最高の空間である。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/26.png' %}" alt="" srcset="">
                <p>
                    景色が良いのはここも負けていない。<br>
                    ここは祇園の高台寺周辺にあり、八坂の塔をはじめ、高台から京都を一望出来る。ここではウェディングも手がけている。<br>
                    行った当時は天気も良く気候も良かったため、デザート時にテラス席に案内していただき、ゆっくりと堪能出来た。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/27.png' %}" alt="" srcset="">
                <p>
                    夏はビアガーデン！こちらはフォーチュンガーデンの夏の企画のルーフトップバー。<br>
                    建物の屋上でバーとして、ビールのみならずワインや軽食を楽しめる。<br>
                    立地は街中のため景色が良いという場所ではないが、夜風に当たりながら美味しい料理とお酒を楽しめる。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/28.png' %}" alt="" srcset="">
                <p>
                    こちらもフォーチュンガーデン。<br>
                    お気づきかと思うが、我々の結婚式のレストラン。<br>
                    1階はレストランになっており、休日は式がたくさん入るため営業していないことが多い。というのも、このスペースが参列者の待合室になるからである。<br>
                    レストラン展開しているだけありやはり料理が大変美味しく、お酒も美味しいので、式当日は是非そこも楽しんでいただきたい。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/29.png' %}" alt="" srcset="">
                <p>

                    ソウドウはフォーチュンガーデンと同じ運営会社で系列店舗である。<br>
                    ここは、祇園のねねの道の突き当たりにある。建物は日本画の巨匠、竹内栖鳳が構えた約90年前の
                    邸宅をリノベーションした日本家屋で趣が大変ある。<br>
                    同響オーボエパートであり同女中高管弦楽部の先輩であるゆりんぬさんの結婚式場である。オーボエパート、京都で挙式しがち。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/30.png' %}" alt="" srcset="">
                <p>
                    そのソウドウの個室はこんな感じ。<br>
                    顔合わせに使用したが、顔合わせプランともなると頬が落ちるほどに料理が美味しかった。京都らしさ満点。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/31.png' %}" alt="" srcset="">
                <p>
                    同響といえばここ。<br>
                    みんな大好き、行きつけの「あじさい」<br>
                    同響の指揮者の先生やトレーナーの先生とのお食事会はここ。<br>
                    店主のよっちゃんが1人で頑張っている。エビスが安すぎる上に、どれも美味しすぎる。無くなっては困るお店。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/32.png' %}" alt="" srcset="">
                <p>
                    居酒屋系でいうと、「一芯」もお気に入り。<br>
                    西梅田や神戸にもあるが、釜飯推しのお店。ただ、一品がどれも美味しく綺麗め居酒屋。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/33.png' %}" alt="" srcset="">
                <p>
                    こちらは串。先斗町にある串揚げのお店。<br>
                    きつねうどんの串揚げもあってどれも美味しくコースの本数も柔軟度が高くて良い。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/34.png' %}" alt="" srcset="">
                <p>
                    ここでカフェ系に。ここはフィンランドにあるカフェ アアルトの2号店。<br>
                    1号店はフィンランド最大の書店「アカデミア書店」にあり建築家のアルヴァ・アアルトによって設計されている。<br>
                    北欧ならではの店内はもちろん、サーモンスープなどを味わえる。9:00〜営業のためモーニングにもぴったり。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/35.png' %}" alt="" srcset="">
                <p>
                    ここは烏丸四条と烏丸五条の間付近にある本格的イタリアン。<br>
                    小さなお店で、トスカーナ郷土料理が味わえる、落ち着いた空間。人気で小さなお店だが、いつも満席。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/36.png' %}" alt="" srcset="">
                <p>
                    こちらはお手軽イタリアン。<br>
                    築100年を超える町家造りの一軒家。ここは我々が初めてバースデーディナーに行った場所。ここのピザはモチモチで美味しい。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/37.png' %}" alt="" srcset="">
                <p>
                    こちらはフレンチ。ブション。式場の近くにある。フランスの大衆食堂という感じでありつつそれがまた味があってオシャレといったようなお店。<br>
                    開店前からお客さんが並んでおりあっという間に満席になるので予約がベター。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/38.png' %}" alt="" srcset="">
                <p>
                    河原町界隈で唯一京都らしい通りが突然出てくるここ、柳小路。<br>
                    ホルモン・割烹料理のお店で、ランチは、牛タンハンバーグと牛ネックシチュー、そしてハラミ丼が味わえる。<br><br>
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/8/39.png' %}" alt="" srcset="">
                <p>
                    最後はアマン京都。<br>
                    前回のホテルシリーズでも紹介したが、食事のみ、アフタヌーンティーも。空間やグラスがおしゃれでそもそもビールから美味しそうすぎる。<br>
                    場所が少し不便なところにはなるが、そういったところだからこその空間からその場所らしい味わいが感じられる。<br><br>

                    <br><br><br><br>
                    さて、行きたいところは見つかりましたか？<br>
                    写真があるお店となるとどうしても綺麗めなところが多かったですが、見た目のわりにはお手軽なお店もあります。<br>
                    写真がなくてご紹介できていない美味しいお店まだまだあります！お店に迷ったらご一報ください。
                    <br><br><br>
                    早いもので？わんこ旅、これが最後になってしまいました。<br>
                    もっと紹介したいコンテンツ、本当はまだまだあるので惜しい限り……<br>
                    またわんこ旅でお会いできるかは分かりませんが、これまでのコンテンツで少しでも皆さんの生活が豊かになれば幸いです。<br><br>
                </p>
        </div>
    </div>
</section>



{% endblock %}