{% extends "base.html" %}
{% load static %}

{% block main %}


<section class="wanko-section" id="wanko">
    <div class="container fadein wrap">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item"><a href="/projects/wanko">わんこ旅</a></li>
                <li class="breadcrumb-item active" aria-current="page">vol.5</li>
            </ol>
        </nav>
    </div>
    <div class="container fadein wrap">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/projects/wanko/wanko5.jpg' %}" alt="..." />
    </div>

    <div class="container text-black p-1 p-sm-3 p-lg-5 fadein wrap">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-10 col-lg-8">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/02.png' %}" alt="" srcset="">
                <p>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/03.png' %}" alt="" srcset="">
                <p>

                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/04.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/05.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/06.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/07.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/08.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/09.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/10.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/11.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/12.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/13.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/14.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/15.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/16.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/17.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/18.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/19.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/20.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/21.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/22.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/23.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/24.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/25.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/26.png' %}" alt="" srcset="">
                <p>
                    
                </p>
                <img class="img-fluid scrollanime" src="{% static 'img/projects/wanko/5/27.png' %}" alt="" srcset="">
                <p>
                    
                </p>
            </div>
        </div>
    </div>
</section>



{% endblock %}